section.advantages
  .container.advantages__container
    p.advantages__description Покрытие фасадов из высококачественного МДФ экологической пленкой (эко-мембрана) – одно из самых пиковых тенденций интерьерной моды. Данное покрытие позволяет проявить фантазию в полном объеме, благодаря возможности использовать множество вариантов цветов и текстур, совмещать стили и играть на контрастах. С использованием фасадов, покрытых эко-пленкой можно создать кухню в любом стиле – от консервативной классики до ультрамодного хай-тек.
  .advantages__block
    .advantages__img.advantages__img--wide
      picture
        source(media="(min-width: 320px)", srcset="assets/img/advantages/photo1.webp", type="image/webp")
        source(media="(min-width: 320px)", srcset="assets/img/advantages/photo1.jpg", type="image/jpg")
        img(src="assets/img/advantages/photo1.jpg", alt="type-1")
    .advantages__img
      picture
        source(media="(min-width: 320px)", srcset="assets/img/advantages/photo3.webp", type="image/webp")
        source(media="(min-width: 320px)", srcset="assets/img/advantages/photo3.jpg", type="image/jpg")
        img(src="assets/img/advantages/photo3.jpg", alt="type-1")
    .advantages__img
      picture
        source(media="(min-width: 320px)", srcset="assets/img/advantages/photo1.webp", type="image/webp")
        source(media="(min-width: 320px)", srcset="assets/img/advantages/photo1.jpg", type="image/jpg")
        img(src="assets/img/advantages/photo1.jpg", alt="type-1")
    
    .container.advantages__container 
      p.advantages__description Эко-пленка – это современный материал, в состав которого входят экологически чистые волокна. После подготовки листа МДФ на его поверхность вакуумным методом наносится плотная пленка, которая очень плотно прилегает к листу. Повышая его устойчивость к износу и воздействию температур, что особенно актуально для кухонной мебели. Плотность прилегания пленки к основе обеспечивает отсутствие стыков и щелей на фасадах, а значит снижает риск деформации под воздействием влаги и пара. Сверху эко-пленка покрывается специальным составом, который защищает мебель от воздействия ультрафиолетовых лучей и механических повреждений, а также создает глянцевое или шелковисто-матовое покрытие.
      h3.title.advantages__title Основные преимущества <span>эко-пленки:</span> 
      ul.advantages__list
        li Высокая прочность 
        li Доступная цена
        li Устойчивость к механическим повреждениям 
        li Высокая экологичность, благодаря отсутствию пластификатов 
        li Простота в уходе
          p.advantages__list-description плотная структура не впитывает грязь, а для очистки поверхности можно использовать любые чистящие средства, в том числе абразивные
        li Устойчивость к УФ лучам
        li Огромный выбор цветов и фактур
          p.advantages__list-description однотонные, под дерево, фантазийные, с текстурой камня и бетона, с эффектами металлик и перламутр, матовые и глянцевые
        li Возможность создания фасадов с различной фрезеровкой
        li Широкий выбор декоративных элементов
          p.advantages__list-description балясины, карнизы, пилястры, балюстрады и другие. 