section.gallery
  .container.articles__container
    .title.articles__title Галерея

    .swiper-container.articles__swiper-container
      .swiper-wrapper.articles__swiper-wrapper
        .swiper-slide.articles__swiper-slide
            picture.articles__card-img
              source(media="(min-width: 320px)", srcset="assets/img/projects/1-md.webp", type="image/webp")
              source(media="(min-width: 320px)", srcset="assets/img/projects/1-md.png", type="image/png")
              img(src="assets/img/articles/photo1.png", alt="photo")


        .swiper-slide.articles__swiper-slide
          picture.articles__card-img
              source(media="(min-width: 320px)", srcset="assets/img/projects/1-md.webp", type="image/webp")
              source(media="(min-width: 320px)", srcset="assets/img/projects/1-md.png", type="image/png")
              img(src="assets/img/articles/photo1.png", alt="photo")
          

        .swiper-slide.articles__swiper-slide
          picture.articles__card-img
              source(media="(min-width: 320px)", srcset="assets/img/projects/1-md.webp", type="image/webp")
              source(media="(min-width: 320px)", srcset="assets/img/projects/1-md.png", type="image/png")
              img(src="assets/img/articles/photo1.png", alt="photo")
          
          .articles__card
            picture.articles__card-img
              source(media="(min-width: 320px)", srcset="assets/img/projects/1-md.webp", type="image/webp")
              source(media="(min-width: 320px)", srcset="assets/img/projects/1-md.png", type="image/png")
              img(src="assets/img/articles/photo1.png", alt="photo")

        //- .swiper__slide.gallery__swiper-slide
        //-   img(src="assets/img/projects/1-md.jpg")
          
        //- .swiper__slide.gallery__swiper-slide
        //-   img(src="assets/img/projects/1-md.jpg")
      
      .swiper-button-prev.articles__swiper-button-prev
      .swiper-button-next.articles__swiper-button-next

