section.others
    .others__container
        .others__title.title Популярные модели из эко-пленки

        .swiper-container.others__swiper-container
            .swiper-wrapper.others__swiper-wrapper
                .swiper-slide.others__swiper-slide
                   .card
                    .card__img
                      .card__hover
                        .card__hover-block
                          a(href="#").card__hover-calculator
                          .card__hover-group 
                            h3.card__hover-title Фасад 
                            p.card__hover-description рамки из массива ясеня с панелью из МДФ, покрытой шпоном
                          .card__hover-group
                            h3.card__hover-title Толщина фасада
                            p.card__hover-description 19 мм
                          .card__hover-group
                            h3.card__hover-title Виды фасадов  
                            p.card__hover-description глухой, стекло
                          .card__hover-group
                            h3.card__hover-title Отделка   
                            p.card__hover-description финишная отделка шелковисто-матовая или глянцевая
                          a(href="product.html").button.card__hover-button.button--primary Посмотреть подробности
                      picture
                        source(media="(min-width: 320px)", srcset="assets/img/models/1.webp", type="image/webp")
                        source(media="(min-width: 320px)", srcset="assets/img/models/1.jpg", type="image/webp")
                        img(src="assets/img/models/1.jpg")
                        .card__label.card__label--sale 
                    .card__info
                      span.card__info-name Bristel PRO
                      span.card__info-price от 40 215 ₽/м²
                    p.card__description Роскошная дворцовая классика

                .swiper-slide.others__swiper-slide
                  .card
                    .card__img
                      .card__hover
                        .card__hover-block
                          a(href="#").card__hover-calculator
                          .card__hover-group 
                            h3.card__hover-title Фасад 
                            p.card__hover-description рамки из массива ясеня с панелью из МДФ, покрытой шпоном
                          .card__hover-group
                            h3.card__hover-title Толщина фасада
                            p.card__hover-description 19 мм
                          .card__hover-group
                            h3.card__hover-title Виды фасадов  
                            p.card__hover-description глухой, стекло
                          .card__hover-group
                            h3.card__hover-title Отделка   
                            p.card__hover-description финишная отделка шелковисто-матовая или глянцевая
                          a(href="product.html").button.card__hover-button.button--primary Посмотреть подробности
                      picture
                        source(media="(min-width: 320px)", srcset="assets/img/models/2.webp", type="image/webp")
                        source(media="(min-width: 320px)", srcset="assets/img/models/2.jpg", type="image/webp")
                        img(src="assets/img/models/2.jpg")
                        .card__label.card__label--sale 
                    .card__info
                      span.card__info-name Bristel PRO
                      span.card__info-price от 40 215 ₽/м²
                    p.card__description Роскошная дворцовая классика

                .swiper-slide.others__swiper-slide
                  .card
                    .card__img
                      .card__hover
                        .card__hover-block
                          a(href="#").card__hover-calculator
                          .card__hover-group 
                            h3.card__hover-title Фасад 
                            p.card__hover-description рамки из массива ясеня с панелью из МДФ, покрытой шпоном
                          .card__hover-group
                            h3.card__hover-title Толщина фасада
                            p.card__hover-description 19 мм
                          .card__hover-group
                            h3.card__hover-title Виды фасадов  
                            p.card__hover-description глухой, стекло
                          .card__hover-group
                            h3.card__hover-title Отделка   
                            p.card__hover-description финишная отделка шелковисто-матовая или глянцевая
                          a(href="product.html").button.card__hover-button.button--primary Посмотреть подробности
                      picture
                        source(media="(min-width: 320px)", srcset="assets/img/models/3.webp", type="image/webp")
                        source(media="(min-width: 320px)", srcset="assets/img/models/3.jpg", type="image/webp")
                        img(src="assets/img/models/3.jpg")
                        .card__label.card__label--sale 
                    .card__info
                      span.card__info-name Bristel PRO
                      span.card__info-price от 40 215 ₽/м²
                    p.card__description Роскошная дворцовая классика

                .swiper-slide.others__swiper-slide
                   .card
                    .card__img
                      .card__hover
                        .card__hover-block
                          a(href="#").card__hover-calculator
                          .card__hover-group 
                            h3.card__hover-title Фасад 
                            p.card__hover-description рамки из массива ясеня с панелью из МДФ, покрытой шпоном
                          .card__hover-group
                            h3.card__hover-title Толщина фасада
                            p.card__hover-description 19 мм
                          .card__hover-group
                            h3.card__hover-title Виды фасадов  
                            p.card__hover-description глухой, стекло
                          .card__hover-group
                            h3.card__hover-title Отделка   
                            p.card__hover-description финишная отделка шелковисто-матовая или глянцевая
                          a(href="product.html").button.card__hover-button.button--primary Посмотреть подробности
                      picture
                        source(media="(min-width: 320px)", srcset="assets/img/models/1.webp", type="image/webp")
                        source(media="(min-width: 320px)", srcset="assets/img/models/1.jpg", type="image/webp")
                        img(src="assets/img/models/1.jpg")
                        .card__label.card__label--sale 
                    .card__info
                      span.card__info-name Bristel PRO
                      span.card__info-price от 40 215 ₽/м²
                    p.card__description Роскошная дворцовая классика

                .swiper-slide.others__swiper-slide
                  .card
                    .card__img
                      .card__hover
                        .card__hover-block
                          a(href="#").card__hover-calculator
                          .card__hover-group 
                            h3.card__hover-title Фасад 
                            p.card__hover-description рамки из массива ясеня с панелью из МДФ, покрытой шпоном
                          .card__hover-group
                            h3.card__hover-title Толщина фасада
                            p.card__hover-description 19 мм
                          .card__hover-group
                            h3.card__hover-title Виды фасадов  
                            p.card__hover-description глухой, стекло
                          .card__hover-group
                            h3.card__hover-title Отделка   
                            p.card__hover-description финишная отделка шелковисто-матовая или глянцевая
                          a(href="product.html").button.card__hover-button.button--primary Посмотреть подробности
                      picture
                        source(media="(min-width: 320px)", srcset="assets/img/models/2.webp", type="image/webp")
                        source(media="(min-width: 320px)", srcset="assets/img/models/2.jpg", type="image/webp")
                        img(src="assets/img/models/2.jpg")
                        .card__label.card__label--sale 
                    .card__info
                      span.card__info-name Bristel PRO
                      span.card__info-price от 40 215 ₽/м²
                    p.card__description Роскошная дворцовая классика

                .swiper-slide.others__swiper-slide
                  .card
                    .card__img
                      .card__hover
                        .card__hover-block
                          a(href="#").card__hover-calculator
                          .card__hover-group 
                            h3.card__hover-title Фасад 
                            p.card__hover-description рамки из массива ясеня с панелью из МДФ, покрытой шпоном
                          .card__hover-group
                            h3.card__hover-title Толщина фасада
                            p.card__hover-description 19 мм
                          .card__hover-group
                            h3.card__hover-title Виды фасадов  
                            p.card__hover-description глухой, стекло
                          .card__hover-group
                            h3.card__hover-title Отделка   
                            p.card__hover-description финишная отделка шелковисто-матовая или глянцевая
                          a(href="product.html").button.card__hover-button.button--primary Посмотреть подробности
                      picture
                        source(media="(min-width: 320px)", srcset="assets/img/models/3.webp", type="image/webp")
                        source(media="(min-width: 320px)", srcset="assets/img/models/3.jpg", type="image/webp")
                        img(src="assets/img/models/3.jpg")
                        .card__label.card__label--sale 
                    .card__info
                      span.card__info-name Bristel PRO
                      span.card__info-price от 40 215 ₽/м²
                    p.card__description Роскошная дворцовая классика

            .swiper-button-prev.others__swiper-button-prev
            .swiper-button-next.others__swiper-button-next

        .social__block.main-social.others__social
            a(href="#").social__block-link
              img(src="assets/img/social/facebook.svg", alt="facebook").social__block-img
            a(href="#").social__block-link
              img(src="assets/img/social/vk.svg", alt="vk").social__block-img
            a(href="#").social__block-link
              img(src="assets/img/social/instagram.svg", alt="instagram").social__block-img
            a(href="#").social__block-link
              img(src="assets/img/social/odnoklasniki.svg", alt="odnoklasniki").social__block-img
        
        .stats.others__stats
          span.stats-date 5 февраля
          span.stats-views 12 просмотров
          span.stats-comments 14 комментариев