section.newsProjects.projects
    .container.bonuses__container
        .title.bonuses__title Реализованые проекты
        
        .swiper-container.bonuses__swiper-container
            .swiper-wrapper.bonuses__swiper-wrapper
                .swiper-slide.bonuses__swiper-slide
                    .projects__info
                        p.projects__info-date 5 февраля 2020
                        h3.projects__info-name Новогодняя вечеринка "ДЖАЗ: Эстетика 50-ых"

                    a(href='#').bonuses__card.bonuses__card
                        picture.bonuses__card-img.bg-image
                            source(media="(min-width: 768px)", srcset="assets/img/projects/1-md.webp", type="image/webp")
                            source(media="(min-width: 768px)", srcset="assets/img/projects/1-md.jpg", type="image/jpg")
                            source(media="(min-width: 320px)", srcset="assets/img/projects/1.webp", type="image/webp")
                            source(media="(min-width: 320px)", srcset="assets/img/projects/1.jpg", type="image/jpg")
                            img(src="assets/img/projects/1-md.jpg", alt="bg").lazyload
                
                .swiper-slide.bonuses__swiper-slide
                    .projects__info
                        p.projects__info-date 5 февраля 2020
                        h3.projects__info-name Новогодняя вечеринка "ДЖАЗ: Эстетика 50-ых"
                    a(href='#').bonuses__card.bonuses__card--light
                        picture.bonuses__card-img.bg-image
                            source(media="(min-width: 768px)", srcset="assets/img/projects/1-md.webp", type="image/webp")
                            source(media="(min-width: 768px)", srcset="assets/img/projects/1-md.jpg", type="image/jpg")
                            source(media="(min-width: 320px)", srcset="assets/img/projects/1.webp", type="image/webp")
                            source(media="(min-width: 320px)", srcset="assets/img/projects/1.jpg", type="image/jpg")
                            img(src="assets/img/projects/1-md.jpg", alt="bg").lazyload

                .swiper-slide.bonuses__swiper-slide
                    .projects__info
                        p.projects__info-date 5 февраля 2020
                        h3.projects__info-name Новогодняя вечеринка "ДЖАЗ: Эстетика 50-ых"
                    a(href='#').bonuses__card.bonuses__card--light
                        picture.bonuses__card-img.bg-image
                            source(media="(min-width: 768px)", srcset="assets/img/projects/1-md.webp", type="image/webp")
                            source(media="(min-width: 768px)", srcset="assets/img/projects/1-md.jpg", type="image/jpg")
                            source(media="(min-width: 320px)", srcset="assets/img/projects/1.webp", type="image/webp")
                            source(media="(min-width: 320px)", srcset="assets/img/projects/1.jpg", type="image/jpg")
                            img(src="assets/img/projects/1-md.jpg", alt="bg").lazyload


            .swiper-button-prev.bonuses__swiper-button-prev
            .swiper-button-next.bonuses__swiper-button-next

            .button.bonuses__button.button--bordered Посмотреть все