block config

doctype html
html(lang="ru", class="no-js")
    head
        block head
            include head
    body.body
        include mixins/svgsprite
        
        block header
            include blocks/header
        
        .content#main
            block content
               
        
        block footer
            include blocks/footer
        
        // include popups here
        block modal
            include blocks/modal
        
        block styles
            link(rel='stylesheet', href='assets/css/common.css?v=' + PACKAGE.version)
            //- <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500&display=swap" rel="stylesheet">
        block scripts-config
            script.
                /* изменяемые настройки скриптов, указаны значения по умолчанию */
                var appConfig = {
                   y: 50,
                   x: 100
                }
        block scripts
            include scripts