.articles
 .container.articles__container 
  a(href="#").articles__link.articles__link--red Как выбрать мойку из искусственного камня
    .articles__link-arrow
      img(src="assets/img/articles/link-arrow.svg", alt="arrow")
  
  a(href="#").articles__link и другие полезные статьи

    .swiper-container.articles__swiper-container
      .swiper-wrapper.articles__swiper-wrapper
        //- .swiper-slide.articles__swiper-slide
        //-   a(href="#").aticles__card.articles__card--full
        //-     img.articles__card-img(src="assets/img/articles/photo1.png", alt="photo")
        //-     .articles__card-label кухни
        //-     span.articles__card-date 10 марта 2020
        //-     p.articles__card-description 8 марта от КухниСити в салоне  ART DE VIDRE

        .swiper-slide.articles__swiper-slide
          a(href="#").articles__card
            img.articles__card-img(src="assets/img/articles/photo2.jpg", alt="photo")
            .articles__card-label экономия
            p.articles__card-description Мастер-класс по выбору кухни
            button.articles__card-button 
