section.benefits
  .container.benefits__container
    .swiper-container.benefits__swiper-container
      .swiper-wrapper
        .swiper-slide.benefits__swiper-slide
          .benefits__card
            h3.benefits__card-title 100 салонов
            p.benefits__card-description 70 салонов в России и&nbsp;30&nbsp;в&nbsp;Казахстане,  Украине и  Беларусь.
          .benefits__card
            h3.benefits__card-title Рассрочка 2 года
            p.benefits__card-description Удобная рассрочка оплаты на 2 года без процентов
          .benefits__card
            h3.benefits__card-title Свое производство
            p.benefits__card-description Производство 60 тыс. м² в Зеленограде. 600 сотрудников и 69 тыс. заказов с 1991 г.
          .benefits__card
            h3.benefits__card-title Гарантия 24 месяца
            p.benefits__card-description 2 года сервисного  обслуживания всего кухонного гарнитура KUCHENBERG 