section.bonuses
  .container.bonuses__container
    .title.bonuses__title
    
    .swiper-container.bonuses__swiper-container
      .swiper-wrapper.bonuses__swiper-wrapper
        .swiper-slide.bonuses__swiper-slide
          .bonuses__card.bonuses__card
            img(src="assets/img/bonuses/ascona.jpg", alt="bg").bonuses__card-img.bg-image
            h3.bonuses__card-title Купите кухню 
              span.bonuses__card-subtitle Ascona
            p.bonuses__card-text Столешница в подарок
        
        .swiper-slide.bonuses__swiper-slide
          .bonuses__card.bonuses__card
            img(src="assets/img/bonuses/ascona.jpg", alt="bg").bonuses__card-img.bg-image
            h3.bonuses__card-title Купите кухню 
              span.bonuses__card-subtitle Ascona
            p.bonuses__card-text Столешница в подарок


      .swiper-button-prev.bonuses__swiper-button-prev
      .swiper-button-next.bonuses__swiper-button-next
