section.leader.catalogLeader
  .leader__container.container
    .leader__info
      .leader__info-img
        picture 
          source(media="(min-width:1920px)", srcset="assets/img/catalogLeader/leader-xl.webp", type="image/webp")
          source(media="(min-width:1920px)", srcset="assets/img/catalogLeader/leader-xl.jpg", type="image/jpg")
          source(media="(min-width:1280px)", srcset="assets/img/catalogLeader/leader-lg.webp", type="image/webp")
          source(media="(min-width:1280px)", srcset="assets/img/catalogLeader/leader-lg.jpg", type="image/jpg")
          source(media="(min-width:768px)", srcset="assets/img/catalogLeader/leader-md .webp", type="image/webp")
          source(media="(min-width:768px)", srcset="assets/img/catalogLeader/leader-md.jpg", type="image/jpg")
          source(media="(min-width:320px)", srcset="assets/img/catalogLeader/leader.webp", type="image/webp")
          source(media="(min-width:320px)", srcset="assets/img/catalogLeader/leader.jpg", type="image/jpg")
          img(src="assets/img/leader/leader-xl.jpg", alt="leader-photo")
      strong.leader__info-name Анна Иванова
      span.leader__info-job дизайнер КухниСити
    .leader__block
      .leader__text Кухня — самое важное место в квартире. Здесь заряжаются для&nbsp;нового дня и проводят вечер в кругу семьи, встречают гостей и готовят вместе с детьми. Давайте вместе создадим дизайн кухни вашей мечты.
      .leader__button2.button.button--dark Бесплатный дизайн проект
    
