section.contactUs
  picture.contactUs__img
    source(srcset="assets/img/contactUs/bg-lg.webp" media="(min-width: 1280px)" type="image/webp")
    source(srcset="assets/img/contactUs/bg-lg.jpg" media="(min-width: 1280px)" type="image/jpg")
    source(srcset="assets/img/contactUs/bg-md.webp" media="(min-width: 321px)" type="image/webp")
    source(srcset="assets/img/contactUs/bg-md.jpg" media="(min-width: 321px)" type="image/jpg")
    img(src="assets/img/contactUs/bg.jpg")

  .container.contactUs__container
    h3.title.contactUs__title Приходите к нам, поговорим о вашем проекте
    p.contactUs__description Новые модели, выгодные акции и неожиданные дизайнерские решения ежедневно в удобном для&nbsp;вас формате. Подписывайтесь!

    form(action="#").mainForm.contactUs__mainForm
      .mainForm__input-group.contactUs__input-group
          label(for="contactUs-user-name").mainForm__label Ваше имя
          input(type="text", name="user-name").mainForm__input.contactUs__input#contactUs-user-name
      .mainForm__input-group.contactUs__input-group
          label(for="contactUs-user-name").mainForm__label Ваш телефон
          input(type="tel", name="user-tel").mainForm__input.contactUs__input#contactUs-user-tel
      button.mainForm__button.button.button--primary.contactUs__button Отправить
  p.policy.contactUs__policy Отправляя контакты, вы соглашаетесь с <a href="#">политикой конфиденциальности</a>
    