section.designers
  .container.designers__container
    h1.designers__title 150 дизайнеров
    .designers__img 
      picture
        source(media="(min-width: 1920px)", srcset="assets/img/designers/designers-xl.webp", type="image/webp")
        source(media="(min-width: 1920px)", srcset="assets/img/designers/designers-xl.png", type="image/png")
        source(media="(min-width: 1280px)", srcset="assets/img/designers/designers-md.webp", type="image/webp")
        source(media="(min-width: 1280px)", srcset="assets/img/designers/designers-md.png", type="image/png")
        source(media="(min-width: 320px)", srcset="assets/img/designers/designers.webp", type="image/webp")
        source(media="(min-width: 320px)", srcset="assets/img/designers/designers.png", type="image/png")
        img(src="assets/img/designers/designers-xl.png", alt="designers-img")
    p.designers__description 150 дизайнеров-архитекторов ежедневно создают пространства индивидуально под каждого клиента. Получите бесплатный дизайн-проект под ваши предпочтения.  
    button.button.button--dark.designers__button Бесплатный дизайн-проект