section.discounts 
  .container.discounts__container 
    //- .discounts__marquee
    //-   marquee(behavior="scroll", direction="left") Акции Акции Акции Акции Акции Акции Акции Акции
    .swiper-container.discounts__swiper-container
      .swiper-wrapper.discounts__swiper-wrapper
        .swiper-slide.discounts__swiper-slide
          .discounts__card
            img(src="assets/img/discounts/1.webp").discounts__card-bg 
            h3.title.discounts__card-title(data-swiper-parallax="-50") Скидка 40% на все модели месяца
            p.discounts__card-description(data-swiper-parallax="-50") Акции и спецпредложения для ещё более выгодной покупки кухни вашей мечты. А ещё мы бесплатно предлагаем дизайн-проект.
            button.button.button--light.discounts__card-button(data-swiper-parallax="-50") Получить скидку
        .swiper-slide.discounts__swiper-slide
          .discounts__card
            img(src="assets/img/discounts/1.webp").discounts__card-bg 
            h3.title.discounts__card-title(data-swiper-parallax="-50") Скидка 40% на все модели месяца
            p.discounts__card-description(data-swiper-parallax="-50") Акции и спецпредложения для ещё более выгодной покупки кухни вашей мечты. А ещё мы бесплатно предлагаем дизайн-проект.
            button.button.button--light.discounts__card-button(data-swiper-parallax="-50") Получить скидку
        .swiper-slide.discounts__swiper-slide
          .discounts__card
            img(src="assets/img/discounts/1.webp").discounts__card-bg 
            h3.title.discounts__card-title(data-swiper-parallax="-50") Скидка 40% на все модели месяца
            p.discounts__card-description(data-swiper-parallax="-50") Акции и спецпредложения для ещё более выгодной покупки кухни вашей мечты. А ещё мы бесплатно предлагаем дизайн-проект.
            button.button.button--light.discounts__card-button(data-swiper-parallax="-50") Получить скидку