header.header
  .navigation.header__navigation
    .container.header__container 
      button.header-button.navigation__button(data-fancybox, data-src="#modal") РАссчитать кухню
      .header__location
        .header__location-selected Москва
        .header__location-block
          .header__location-option Киев
          .header__location-option Минск
      .header__about 
        span О компании
        .header__about-menu
          a(href="#").header__about-item Рассрочка
          a(href="#").header__about-item Адреса салонов
          a(href="#").header__about-item Гарантии
          a(href="#").header__about-item Отзывы
          a(href="#").header__about-item Оплата
      ul.header__menu
        li.header__menu-item 
          a(href='#') Акции
        li.header__menu-item
          a(href='#')  Контакты 
        li.header__menu-item 
          a(href='#') Замер
        li.header__menu-item 
          a(href='#') Рассрочка
        li.header__menu-item 
          a(href='#') Адреса салонов
      .header__contacts
        a(href="mailto:info@kuhnicity.ru").header__contacts-mail info@kuhnicity.ru
        button.header__contacts-button(data-fancybox, data-src="#modal") Заказать звонок
        a(href="tel:+74991354378").header__contacts-phone +7 (499) 135-43-78
  .header__block
    .header__expand.expand(data-isopen="false")
      .container.expand__container
        .expand__item
          button.expand__collapsible(data-bg="assets/img/header/wardrobes.jpg") Кухни
          .swiper-container.expand__swiper-container
            .swiper-wrapper.expand__swiper-wrapper
              .swiper-slide.expand__swiper-slide
                h3.expand__item-header Стиль
                a(href="#").expand__listItem Классические
                a(href="#").expand__listItem Лофт
                a(href="#").expand__listItem Модерн
                a(href="#").expand__listItem Скандинавский
                a(href="#").expand__listItem Прованс
                a(href="#").expand__listItem Хай-тек
                a(href="#").expand__listItem Английский
                a(href="#").expand__listItem Итальянский
                a(href="#").expand__listItem Неоклассика
                a(href="#").expand__listItem Ар-деко
                a(href="#").expand__listItem Кантри
                a(href="#").expand__listItem Минимализм
                a(href="#").expand__listItem Современные


              .swiper-slide.expand__swiper-slide
                h3.expand__item-header Фасад
                a(href="#").expand__listItem Массив
                a(href="#").expand__listItem "Эко-шпон"
                a(href="#").expand__listItem ЛДСП
                a(href="#").expand__listItem МДФ
                a(href="#").expand__listItem Пластик
                a(href="#").expand__listItem Акрил
                a(href="#").expand__listItem Эмаль
                a(href="#").expand__listItem Пленка
                a(href="#").expand__listItem ПВХ 
                a(href="#").expand__listItem TSS-плита



              .swiper-slide.expand__swiper-slide
                h3.expand__item-header Покрытие
                a(href="#").expand__listItem  Глянец обычный
                a(href="#").expand__listItem Ультра глянец
                a(href="#").expand__listItem Матовый
                a(href="#").expand__listItem Soft tuch
                a(href="#").expand__listItem С патиной
                a(href="#").expand__listItem Поталь
                a(href="#").expand__listItem Синхро


              .swiper-slide.expand__swiper-slide
                h3.expand__item-header Планировка
                a(href="#").expand__listItem Прямые
                a(href="#").expand__listItem Угловые
                a(href="#").expand__listItem П-образные
                a(href="#").expand__listItem С островом
                a(href="#").expand__listItem С полуостровом
                a(href="#").expand__listItem С барной стойкой

              .swiper-slide.expand__swiper-slide
                h3.expand__item-header Цвет
                a(href="#").expand__listItem Белые
                a(href="#").expand__listItem Бежевые
                a(href="#").expand__listItem Серые
                a(href="#").expand__listItem Чёрные
                a(href="#").expand__listItem Ванильные
                a(href="#").expand__listItem Коричневые
                a(href="#").expand__listItem Красные
                a(href="#").expand__listItem Зелёные
                a(href="#").expand__listItem Синие


              .swiper-slide.expand__swiper-slide
                h3.expand__item-header Размер
                a(href="#").expand__listItem Большие 
                a(href="#").expand__listItem Средние
                a(href="#").expand__listItem Маленькие
                a(href="#").expand__listItem 2 метра
                a(href="#").expand__listItem 4 метра
                a(href="#").expand__listItem 6 метров
                a(href="#").expand__listItem 7 метров
                a(href="#").expand__listItem 8 метров
                a(href="#").expand__listItem 9 метров
                a(href="#").expand__listItem 10 метров
                a(href="#").expand__listItem 11 метров
            
            .swiper-scrollbar.expand__swiper-scrollbar

        .expand__item
          button.expand__collapsible(data-bg="assets/img/header/wardrobes.jpg") Столешницы
          .swiper-container.expand__swiper-container
            .swiper-wrapper.expand__swiper-wrapper
              .swiper-slide.expand__swiper-slide
                h3.expand__item-header Стиль
                a(href="#").expand__listItem Классические
                a(href="#").expand__listItem Лофт
                a(href="#").expand__listItem Модерн
                a(href="#").expand__listItem Скандинавский
                a(href="#").expand__listItem Прованс
                a(href="#").expand__listItem Хай-тек
                a(href="#").expand__listItem Английский
                a(href="#").expand__listItem Итальянский
                a(href="#").expand__listItem Неоклассика
                a(href="#").expand__listItem Ар-деко
                a(href="#").expand__listItem Кантри
                a(href="#").expand__listItem Минимализм
                a(href="#").expand__listItem Современные


              .swiper-slide.expand__swiper-slide
                h3.expand__item-header Стиль
                a(href="#").expand__listItem Классические
                a(href="#").expand__listItem Лофт
                a(href="#").expand__listItem Модерн
                a(href="#").expand__listItem Скандинавский
                a(href="#").expand__listItem Прованс
                a(href="#").expand__listItem Хай-тек
                a(href="#").expand__listItem Английский
                a(href="#").expand__listItem Итальянский
                a(href="#").expand__listItem Неоклассика
                a(href="#").expand__listItem Ар-деко
                a(href="#").expand__listItem Кантри
                a(href="#").expand__listItem Минимализм
                a(href="#").expand__listItem Современные



              .swiper-slide.expand__swiper-slide
                h3.expand__item-header Покрытие
                a(href="#").expand__listItem  Глянец обычный
                a(href="#").expand__listItem Ультра глянец
                a(href="#").expand__listItem Матовый
                a(href="#").expand__listItem Soft tuch
                a(href="#").expand__listItem С патиной
                a(href="#").expand__listItem Поталь
                a(href="#").expand__listItem Синхро


              .swiper-slide.expand__swiper-slide
                h3.expand__item-header Планировка
                a(href="#").expand__listItem Прямые
                a(href="#").expand__listItem Угловые
                a(href="#").expand__listItem П-образные
                a(href="#").expand__listItem С островом
                a(href="#").expand__listItem С полуостровом
                a(href="#").expand__listItem С барной стойкой

              .swiper-slide.expand__swiper-slide
                h3.expand__item-header Цвет
                a(href="#").expand__listItem Белые
                a(href="#").expand__listItem Бежевые
                a(href="#").expand__listItem Серые
                a(href="#").expand__listItem Чёрные
                a(href="#").expand__listItem Ванильные
                a(href="#").expand__listItem Коричневые
                a(href="#").expand__listItem Красные
                a(href="#").expand__listItem Зелёные
                a(href="#").expand__listItem Синие


              .swiper-slide.expand__swiper-slide
                h3.expand__item-header Размер
                a(href="#").expand__listItem Большие 
                a(href="#").expand__listItem Средние
                a(href="#").expand__listItem Маленькие
                a(href="#").expand__listItem 2 метра
                a(href="#").expand__listItem 4 метра
                a(href="#").expand__listItem 6 метров
                a(href="#").expand__listItem 7 метров
                a(href="#").expand__listItem 8 метров
                a(href="#").expand__listItem 9 метров
                a(href="#").expand__listItem 10 метров
                a(href="#").expand__listItem 11 метров

            .swiper-scrollbar.expand__swiper-scrollbar

        .expand__item
          button.expand__collapsible(data-bg="assets/img/header/wardrobes.jpg") Бытовая техника
          .swiper-container.expand__swiper-container
            .swiper-wrapper.expand__swiper-wrapper
              .swiper-slide.expand__swiper-slide
                h3.expand__item-header Стиль
                a(href="#").expand__listItem Классические
                a(href="#").expand__listItem Лофт
                a(href="#").expand__listItem Модерн
                a(href="#").expand__listItem Скандинавский
                a(href="#").expand__listItem Прованс
                a(href="#").expand__listItem Хай-тек
                a(href="#").expand__listItem Английский
                a(href="#").expand__listItem Итальянский
                a(href="#").expand__listItem Неоклассика
                a(href="#").expand__listItem Ар-деко
                a(href="#").expand__listItem Кантри
                a(href="#").expand__listItem Минимализм
                a(href="#").expand__listItem Современные


              .swiper-slide.expand__swiper-slide
                h3.expand__item-header Фасад
                a(href="#").expand__listItem Массив
                a(href="#").expand__listItem "Эко-шпон"
                a(href="#").expand__listItem ЛДСП
                a(href="#").expand__listItem МДФ
                a(href="#").expand__listItem Пластик
                a(href="#").expand__listItem Акрил
                a(href="#").expand__listItem Эмаль
                a(href="#").expand__listItem Пленка
                a(href="#").expand__listItem ПВХ 
                a(href="#").expand__listItem TSS-плита



              .swiper-slide.expand__swiper-slide
                h3.expand__item-header Покрытие
                a(href="#").expand__listItem  Глянец обычный
                a(href="#").expand__listItem Ультра глянец
                a(href="#").expand__listItem Матовый
                a(href="#").expand__listItem Soft tuch
                a(href="#").expand__listItem С патиной
                a(href="#").expand__listItem Поталь
                a(href="#").expand__listItem Синхро


              .swiper-slide.expand__swiper-slide
                h3.expand__item-header Планировка
                a(href="#").expand__listItem Прямые
                a(href="#").expand__listItem Угловые
                a(href="#").expand__listItem П-образные
                a(href="#").expand__listItem С островом
                a(href="#").expand__listItem С полуостровом
                a(href="#").expand__listItem С барной стойкой

              .swiper-slide.expand__swiper-slide
                h3.expand__item-header Цвет
                a(href="#").expand__listItem Белые
                a(href="#").expand__listItem Бежевые
                a(href="#").expand__listItem Серые
                a(href="#").expand__listItem Чёрные
                a(href="#").expand__listItem Ванильные
                a(href="#").expand__listItem Коричневые
                a(href="#").expand__listItem Красные
                a(href="#").expand__listItem Зелёные
                a(href="#").expand__listItem Синие


              .swiper-slide.expand__swiper-slide
                h3.expand__item-header Размер
                a(href="#").expand__listItem Большие 
                a(href="#").expand__listItem Средние
                a(href="#").expand__listItem Маленькие
                a(href="#").expand__listItem 2 метра
                a(href="#").expand__listItem 4 метра
                a(href="#").expand__listItem 6 метров
                a(href="#").expand__listItem 7 метров
                a(href="#").expand__listItem 8 метров
                a(href="#").expand__listItem 9 метров
                a(href="#").expand__listItem 10 метров
                a(href="#").expand__listItem 11 метров

            .swiper-scrollbar.expand__swiper-scrollbar

        .expand__item
          button.expand__collapsible(data-bg="assets/img/header/wardrobes.jpg", data-isopen="false") Шкафы-купе
          .swiper-container.expand__swiper-container
            .swiper-wrapper.expand__swiper-wrapper
              .swiper-slide.expand__swiper-slide
                h3.expand__item-header Стиль
                a(href="#").expand__listItem Классические
                a(href="#").expand__listItem Лофт
                a(href="#").expand__listItem Модерн
                a(href="#").expand__listItem Скандинавский
                a(href="#").expand__listItem Прованс
                a(href="#").expand__listItem Хай-тек
                a(href="#").expand__listItem Английский
                a(href="#").expand__listItem Итальянский
                a(href="#").expand__listItem Неоклассика
                a(href="#").expand__listItem Ар-деко
                a(href="#").expand__listItem Кантри
                a(href="#").expand__listItem Минимализм
                a(href="#").expand__listItem Современные


              .swiper-slide.expand__swiper-slide
                h3.expand__item-header Фасад
                a(href="#").expand__listItem Массив
                a(href="#").expand__listItem "Эко-шпон"
                a(href="#").expand__listItem ЛДСП
                a(href="#").expand__listItem МДФ
                a(href="#").expand__listItem Пластик
                a(href="#").expand__listItem Акрил
                a(href="#").expand__listItem Эмаль
                a(href="#").expand__listItem Пленка
                a(href="#").expand__listItem ПВХ 
                a(href="#").expand__listItem TSS-плита



              .swiper-slide.expand__swiper-slide
                h3.expand__item-header Покрытие
                a(href="#").expand__listItem  Глянец обычный
                a(href="#").expand__listItem Ультра глянец
                a(href="#").expand__listItem Матовый
                a(href="#").expand__listItem Soft tuch
                a(href="#").expand__listItem С патиной
                a(href="#").expand__listItem Поталь
                a(href="#").expand__listItem Синхро


              .swiper-slide.expand__swiper-slide
                h3.expand__item-header Планировка
                a(href="#").expand__listItem Прямые
                a(href="#").expand__listItem Угловые
                a(href="#").expand__listItem П-образные
                a(href="#").expand__listItem С островом
                a(href="#").expand__listItem С полуостровом
                a(href="#").expand__listItem С барной стойкой

              .swiper-slide.expand__swiper-slide
                h3.expand__item-header Цвет
                a(href="#").expand__listItem Белые
                a(href="#").expand__listItem Бежевые
                a(href="#").expand__listItem Серые
                a(href="#").expand__listItem Чёрные
                a(href="#").expand__listItem Ванильные
                a(href="#").expand__listItem Коричневые
                a(href="#").expand__listItem Красные
                a(href="#").expand__listItem Зелёные
                a(href="#").expand__listItem Синие


              .swiper-slide.expand__swiper-slide
                h3.expand__item-header Размер
                a(href="#").expand__listItem Большие 
                a(href="#").expand__listItem Средние
                a(href="#").expand__listItem Маленькие
                a(href="#").expand__listItem 2 метра
                a(href="#").expand__listItem 4 метра
                a(href="#").expand__listItem 6 метров
                a(href="#").expand__listItem 7 метров
                a(href="#").expand__listItem 8 метров
                a(href="#").expand__listItem 9 метров
                a(href="#").expand__listItem 10 метров
                a(href="#").expand__listItem 11 метров

            .swiper-scrollbar.expand__swiper-scrollbar

        .expand__item
          button.expand__collapsible(data-bg="assets/img/header/wardrobes.jpg") Столовые группы
          .swiper-container.expand__swiper-container
            .swiper-wrapper.expand__swiper-wrapper
              .swiper-slide.expand__swiper-slide
                h3.expand__item-header Стиль
                a(href="#").expand__listItem Классические
                a(href="#").expand__listItem Лофт
                a(href="#").expand__listItem Модерн
                a(href="#").expand__listItem Скандинавский
                a(href="#").expand__listItem Прованс
                a(href="#").expand__listItem Хай-тек
                a(href="#").expand__listItem Английский
                a(href="#").expand__listItem Итальянский
                a(href="#").expand__listItem Неоклассика
                a(href="#").expand__listItem Ар-деко
                a(href="#").expand__listItem Кантри
                a(href="#").expand__listItem Минимализм
                a(href="#").expand__listItem Современные


              .swiper-slide.expand__swiper-slide
                h3.expand__item-header Фасад
                a(href="#").expand__listItem Массив
                a(href="#").expand__listItem "Эко-шпон"
                a(href="#").expand__listItem ЛДСП
                a(href="#").expand__listItem МДФ
                a(href="#").expand__listItem Пластик
                a(href="#").expand__listItem Акрил
                a(href="#").expand__listItem Эмаль
                a(href="#").expand__listItem Пленка
                a(href="#").expand__listItem ПВХ 
                a(href="#").expand__listItem TSS-плита



              .swiper-slide.expand__swiper-slide
                h3.expand__item-header Покрытие
                a(href="#").expand__listItem  Глянец обычный
                a(href="#").expand__listItem Ультра глянец
                a(href="#").expand__listItem Матовый
                a(href="#").expand__listItem Soft tuch
                a(href="#").expand__listItem С патиной
                a(href="#").expand__listItem Поталь
                a(href="#").expand__listItem Синхро


              .swiper-slide.expand__swiper-slide
                h3.expand__item-header Планировка
                a(href="#").expand__listItem Прямые
                a(href="#").expand__listItem Угловые
                a(href="#").expand__listItem П-образные
                a(href="#").expand__listItem С островом
                a(href="#").expand__listItem С полуостровом
                a(href="#").expand__listItem С барной стойкой

              .swiper-slide.expand__swiper-slide
                h3.expand__item-header Цвет
                a(href="#").expand__listItem Белые
                a(href="#").expand__listItem Бежевые
                a(href="#").expand__listItem Серые
                a(href="#").expand__listItem Чёрные
                a(href="#").expand__listItem Ванильные
                a(href="#").expand__listItem Коричневые
                a(href="#").expand__listItem Красные
                a(href="#").expand__listItem Зелёные
                a(href="#").expand__listItem Синие


              .swiper-slide.expand__swiper-slide
                h3.expand__item-header Размер
                a(href="#").expand__listItem Большие 
                a(href="#").expand__listItem Средние
                a(href="#").expand__listItem Маленькие
                a(href="#").expand__listItem 2 метра
                a(href="#").expand__listItem 4 метра
                a(href="#").expand__listItem 6 метров
                a(href="#").expand__listItem 7 метров
                a(href="#").expand__listItem 8 метров
                a(href="#").expand__listItem 9 метров
                a(href="#").expand__listItem 10 метров
                a(href="#").expand__listItem 11 метров

            .swiper-scrollbar.expand__swiper-scrollbar

        .expand__item
          .expand__collapsible-label
          button.expand__collapsible(data-bg="assets/img/header/wardrobes.jpg") Акции
          .swiper-container.expand__swiper-container
            .swiper-wrapper.expand__swiper-wrapper
              .swiper-slide.expand__swiper-slide
                h3.expand__item-header Стиль
                a(href="#").expand__listItem Классические
                a(href="#").expand__listItem Лофт
                a(href="#").expand__listItem Модерн
                a(href="#").expand__listItem Скандинавский
                a(href="#").expand__listItem Прованс
                a(href="#").expand__listItem Хай-тек
                a(href="#").expand__listItem Английский
                a(href="#").expand__listItem Итальянский
                a(href="#").expand__listItem Неоклассика
                a(href="#").expand__listItem Ар-деко
                a(href="#").expand__listItem Кантри
                a(href="#").expand__listItem Минимализм
                a(href="#").expand__listItem Современные


              .swiper-slide.expand__swiper-slide
                h3.expand__item-header Фасад
                a(href="#").expand__listItem Массив
                a(href="#").expand__listItem "Эко-шпон"
                a(href="#").expand__listItem ЛДСП
                a(href="#").expand__listItem МДФ
                a(href="#").expand__listItem Пластик
                a(href="#").expand__listItem Акрил
                a(href="#").expand__listItem Эмаль
                a(href="#").expand__listItem Пленка
                a(href="#").expand__listItem ПВХ 
                a(href="#").expand__listItem TSS-плита



              .swiper-slide.expand__swiper-slide
                h3.expand__item-header Покрытие
                a(href="#").expand__listItem  Глянец обычный
                a(href="#").expand__listItem Ультра глянец
                a(href="#").expand__listItem Матовый
                a(href="#").expand__listItem Soft tuch
                a(href="#").expand__listItem С патиной
                a(href="#").expand__listItem Поталь
                a(href="#").expand__listItem Синхро


              .swiper-slide.expand__swiper-slide
                h3.expand__item-header Планировка
                a(href="#").expand__listItem Прямые
                a(href="#").expand__listItem Угловые
                a(href="#").expand__listItem П-образные
                a(href="#").expand__listItem С островом
                a(href="#").expand__listItem С полуостровом
                a(href="#").expand__listItem С барной стойкой

              .swiper-slide.expand__swiper-slide
                h3.expand__item-header Цвет
                a(href="#").expand__listItem Белые
                a(href="#").expand__listItem Бежевые
                a(href="#").expand__listItem Серые
                a(href="#").expand__listItem Чёрные
                a(href="#").expand__listItem Ванильные
                a(href="#").expand__listItem Коричневые
                a(href="#").expand__listItem Красные
                a(href="#").expand__listItem Зелёные
                a(href="#").expand__listItem Синие


              .swiper-slide.expand__swiper-slide
                h3.expand__item-header Размер
                a(href="#").expand__listItem Большие 
                a(href="#").expand__listItem Средние
                a(href="#").expand__listItem Маленькие
                a(href="#").expand__listItem 2 метра
                a(href="#").expand__listItem 4 метра
                a(href="#").expand__listItem 6 метров
                a(href="#").expand__listItem 7 метров
                a(href="#").expand__listItem 8 метров
                a(href="#").expand__listItem 9 метров
                a(href="#").expand__listItem 10 метров
                a(href="#").expand__listItem 11 метров

            .swiper-scrollbar.expand__swiper-scrollbar

        .expand__item
          button.expand__collapsible(data-bg="assets/img/header/wardrobes.jpg") Распродажа
          .swiper-container.expand__swiper-container
            .swiper-wrapper.expand__swiper-wrapper
              .swiper-slide.expand__swiper-slide
                h3.expand__item-header Стиль
                a(href="#").expand__listItem Классические
                a(href="#").expand__listItem Лофт
                a(href="#").expand__listItem Модерн
                a(href="#").expand__listItem Скандинавский
                a(href="#").expand__listItem Прованс
                a(href="#").expand__listItem Хай-тек
                a(href="#").expand__listItem Английский
                a(href="#").expand__listItem Итальянский
                a(href="#").expand__listItem Неоклассика
                a(href="#").expand__listItem Ар-деко
                a(href="#").expand__listItem Кантри
                a(href="#").expand__listItem Минимализм
                a(href="#").expand__listItem Современные


              .swiper-slide.expand__swiper-slide
                h3.expand__item-header Фасад
                a(href="#").expand__listItem Массив
                a(href="#").expand__listItem "Эко-шпон"
                a(href="#").expand__listItem ЛДСП
                a(href="#").expand__listItem МДФ
                a(href="#").expand__listItem Пластик
                a(href="#").expand__listItem Акрил
                a(href="#").expand__listItem Эмаль
                a(href="#").expand__listItem Пленка
                a(href="#").expand__listItem ПВХ 
                a(href="#").expand__listItem TSS-плита



              .swiper-slide.expand__swiper-slide
                h3.expand__item-header Покрытие
                a(href="#").expand__listItem  Глянец обычный
                a(href="#").expand__listItem Ультра глянец
                a(href="#").expand__listItem Матовый
                a(href="#").expand__listItem Soft tuch
                a(href="#").expand__listItem С патиной
                a(href="#").expand__listItem Поталь
                a(href="#").expand__listItem Синхро


              .swiper-slide.expand__swiper-slide
                h3.expand__item-header Планировка
                a(href="#").expand__listItem Прямые
                a(href="#").expand__listItem Угловые
                a(href="#").expand__listItem П-образные
                a(href="#").expand__listItem С островом
                a(href="#").expand__listItem С полуостровом
                a(href="#").expand__listItem С барной стойкой

              .swiper-slide.expand__swiper-slide
                h3.expand__item-header Цвет
                a(href="#").expand__listItem Белые
                a(href="#").expand__listItem Бежевые
                a(href="#").expand__listItem Серые
                a(href="#").expand__listItem Чёрные
                a(href="#").expand__listItem Ванильные
                a(href="#").expand__listItem Коричневые
                a(href="#").expand__listItem Красные
                a(href="#").expand__listItem Зелёные
                a(href="#").expand__listItem Синие


              .swiper-slide.expand__swiper-slide
                h3.expand__item-header Размер
                a(href="#").expand__listItem Большие 
                a(href="#").expand__listItem Средние
                a(href="#").expand__listItem Маленькие
                a(href="#").expand__listItem 2 метра
                a(href="#").expand__listItem 4 метра
                a(href="#").expand__listItem 6 метров
                a(href="#").expand__listItem 7 метров
                a(href="#").expand__listItem 8 метров
                a(href="#").expand__listItem 9 метров
                a(href="#").expand__listItem 10 метров
                a(href="#").expand__listItem 11 метров

            .swiper-scrollbar.expand__swiper-scrollbar  

        .expand__item
          button.expand__collapsible(data-bg="assets/img/header/wardrobes.jpg") Портфолио
          .swiper-container.expand__swiper-container
            .swiper-wrapper.expand__swiper-wrapper
              .swiper-slide.expand__swiper-slide
                h3.expand__item-header Стиль
                a(href="#").expand__listItem Классические
                a(href="#").expand__listItem Лофт
                a(href="#").expand__listItem Модерн
                a(href="#").expand__listItem Скандинавский
                a(href="#").expand__listItem Прованс
                a(href="#").expand__listItem Хай-тек
                a(href="#").expand__listItem Английский
                a(href="#").expand__listItem Итальянский
                a(href="#").expand__listItem Неоклассика
                a(href="#").expand__listItem Ар-деко
                a(href="#").expand__listItem Кантри
                a(href="#").expand__listItem Минимализм
                a(href="#").expand__listItem Современные


              .swiper-slide.expand__swiper-slide
                h3.expand__item-header Фасад
                a(href="#").expand__listItem Массив
                a(href="#").expand__listItem "Эко-шпон"
                a(href="#").expand__listItem ЛДСП
                a(href="#").expand__listItem МДФ
                a(href="#").expand__listItem Пластик
                a(href="#").expand__listItem Акрил
                a(href="#").expand__listItem Эмаль
                a(href="#").expand__listItem Пленка
                a(href="#").expand__listItem ПВХ 
                a(href="#").expand__listItem TSS-плита



              .swiper-slide.expand__swiper-slide
                h3.expand__item-header Покрытие
                a(href="#").expand__listItem  Глянец обычный
                a(href="#").expand__listItem Ультра глянец
                a(href="#").expand__listItem Матовый
                a(href="#").expand__listItem Soft tuch
                a(href="#").expand__listItem С патиной
                a(href="#").expand__listItem Поталь
                a(href="#").expand__listItem Синхро


              .swiper-slide.expand__swiper-slide
                h3.expand__item-header Планировка
                a(href="#").expand__listItem Прямые
                a(href="#").expand__listItem Угловые
                a(href="#").expand__listItem П-образные
                a(href="#").expand__listItem С островом
                a(href="#").expand__listItem С полуостровом
                a(href="#").expand__listItem С барной стойкой

              .swiper-slide.expand__swiper-slide
                h3.expand__item-header Цвет
                a(href="#").expand__listItem Белые
                a(href="#").expand__listItem Бежевые
                a(href="#").expand__listItem Серые
                a(href="#").expand__listItem Чёрные
                a(href="#").expand__listItem Ванильные
                a(href="#").expand__listItem Коричневые
                a(href="#").expand__listItem Красные
                a(href="#").expand__listItem Зелёные
                a(href="#").expand__listItem Синие


              .swiper-slide.expand__swiper-slide
                h3.expand__item-header Размер
                a(href="#").expand__listItem Большие 
                a(href="#").expand__listItem Средние
                a(href="#").expand__listItem Маленькие
                a(href="#").expand__listItem 2 метра
                a(href="#").expand__listItem 4 метра
                a(href="#").expand__listItem 6 метров
                a(href="#").expand__listItem 7 метров
                a(href="#").expand__listItem 8 метров
                a(href="#").expand__listItem 9 метров
                a(href="#").expand__listItem 10 метров
                a(href="#").expand__listItem 11 метров

            .swiper-scrollbar.expand__swiper-scrollbar  

      .container
        .expand__nav
          a(href="#").expand__nav-item Контакты
          a(href="#").expand__nav-item Замер
          a(href="#").expand__nav-item Рассрочка
          a(href="#").expand__nav-item Адреса салонов
        
        .expand__contacts
          button.expand__contacts-button(data-fancybox, data-src="#modal") Заказать звонок
          a(href="tel:+74991354378").expand__contacts-phone +7 (499) 135-43-78

    .container.header__container
      button.header__block-open каталог
      a(href="index.html").header__logo 
      button.header-button.header__block-button(data-fancybox, data-src="#modal") РАссчитать кухню
