section.leader
  .leader__container.container
    .leader__info
      h2.title.leader__info-title Кухни на заказ в&nbsp;салонах Кухнисити
      .leader__info-img
        img(src="assets/img/leader/leader-photo.jpg", alt="leader-photo")
      strong.leader__info-name Андрей Селиванов
      span.leader__info-job руководитель производства
      .leader__info-sign
    .leader__block
      .leader__title
      .leader__text Кухня – одно из самых важных помещений в доме. Здесь готовят еду, устраивают семейные обеды, дружеские посиделки, а порой и званые вечера. Отсюда вытекают главные критерии выбора мебели – материалы и фурнитура (от покрытия столешницы и заканчивая ручками на фасадах) должны быть готовы к интенсивным нагрузкам,  а продуманная планировка должна помогать выполнять бытовые дела с легкостью, комфортом и удовольствием. А еще хочется, чтобы было красиво!
      .leader__text.leader__text-expand  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius, obcaecati pariatur. Unde quas aspernatur sit, placeat repellendus iusto vitae excepturi.                    
      .leader__button раскрыть
    
