section.models
  .container.models__container
    h2.title.models__title Кухни
    .swiper-container.models__swiper-container
      .swiper-wrapper.models__swiper-wrapper
        .swiper-slide.models__swiper-slide
          span.models__filter.models__filter--active Кухни со скидкой
          span.models__filter Прямие
          span.models__filter С островом
          span.models__filter Белые
          span.models__filter Красные
          span.models__filter Из массива
          span.models__filter Из дерева
         

  .container.models__container2
    .card
      .card__img
        img(src="assets/img/models/1.jpg")
        .card__label.card__label--sale 
      .card__info
        span.card__info-name Bristel PRO
        span.card__info-price от 40 215 ₽/м²
      p.card__description Роскошная дворцовая классика
    
    .card
      .card__img
        img(src="assets/img/models/1.jpg")
        .card__label.card__label--sale 
      .card__info
        span.card__info-name Bristel PRO
        span.card__info-price от 40 215 ₽/м²
      p.card__description Роскошная дворцовая классика

    .card
      .card__img
        img(src="assets/img/models/1.jpg")
        .card__label.card__label--sale 
      .card__info
        span.card__info-name Bristel PRO
        span.card__info-price от 40 215 ₽/м²
      p.card__description Роскошная дворцовая классика

    .card
      .card__img
        img(src="assets/img/models/1.jpg")
        .card__label.card__label--sale 
      .card__info
        span.card__info-name Bristel PRO
        span.card__info-price от 40 215 ₽/м²
      p.card__description Роскошная дворцовая классика

    .card
      .card__img
        img(src="assets/img/models/1.jpg")
        .card__label.card__label--sale 
      .card__info
        span.card__info-name Bristel PRO
        span.card__info-price от 40 215 ₽/м²
      p.card__description Роскошная дворцовая классика

    .card
      .card__img
        img(src="assets/img/models/1.jpg")
        .card__label.card__label--sale 
      .card__info
        span.card__info-name Bristel PRO
        span.card__info-price от 40 215 ₽/м²
      p.card__description Роскошная дворцовая классика

    button.button.button--primary.models__button
      h3.title.models__button-title 127 моделей
      span.models__button-subtitle со скидкой
      span.models__button-text Посмотреть все
      

    



      
      
