section.production
  .production__wrap
    .production__card
      img.production__card-img(src="assets/img/production/kitchens.jpg")
      span.production__card-name Кухни

    .production__card
      img.production__card-img(src="assets/img/production/tables.jpg")
      span.production__card-name СТОЛЕШНИЦы
    .production__card
      img.production__card-img(src="assets/img/production/wardrobes.jpg")
      span.production__card-name Шкафы-купе

    .production__card
      img.production__card-img(src="assets/img/production/technics.jpg")
      span.production__card-name Бытовая техника

    .production__card
      img.production__card-img(src="assets/img/production/sales.jpg")
      span.production__card-name РАСПРОДАЖА