.social.main-social
  .container.social__container
    h2.title.social__title КухниСити в соцсетях
    p.social__description Новые модели, выгодные акции и неожиданные дизайнерские решения ежедневно в удобном для&nbsp;вас&nbsp;формате.&nbsp;Подписывайтесь!
    h2.social__subtitle Подписывайтесь на нас
    .social__block
      a(href="#").social__block-link
        img(src="assets/img/social/facebook.svg", alt="facebook").social__block-img
      a(href="#").social__block-link
        img(src="assets/img/social/vk.svg", alt="vk").social__block-img
      a(href="#").social__block-link
        img(src="assets/img/social/instagram.svg", alt="instagram").social__block-img
      a(href="#").social__block-link
        img(src="assets/img/social/odnoklasniki.svg", alt="odnoklasniki").social__block-img
      a(href="#").social__block-link
        img(src="assets/img/social/pinterest.svg", alt="pinterest").social__block-img
      a(href="#").social__block-link
        img(src="assets/img/social/twitter.svg", alt="twitter").social__block-img
      a(href="#").social__block-link
        img(src="assets/img/social/youtube.svg", alt="youtube").social__block-img

  .swiper-contaner.social__swiper-container
    .swiper-wrapper.social__swiper-wrapper 
      .swiper-slide.social__swiper-slide
        a(href="#").social__card
          img(src="assets/img/social/card1.png", alt="bg").social__card-img
      .swiper-slide.social__swiper-slide
        a(href="#").social__card
          img(src="assets/img/social/card2.jpg", alt="bg").social__card-img
      .swiper-slide.social__swiper-slide
        a(href="#").social__card
          img(src="assets/img/social/card3.jpg", alt="bg").social__card-img
      .swiper-slide.social__swiper-slide
        a(href="#").social__card
          img(src="assets/img/social/card4.jpg", alt="bg").social__card-img
      .swiper-slide.social__swiper-slide
        a(href="#").social__card
          img(src="assets/img/social/card5.jpg", alt="bg").social__card-img
      .swiper-slide.social__swiper-slide
        a(href="#").social__card
          img(src="assets/img/social/card6.jpg", alt="bg").social__card-img
      .swiper-slide.social__swiper-slide
        a(href="#").social__card
          img(src="assets/img/social/card7.jpg", alt="bg").social__card-img
      .swiper-slide.social__swiper-slide
        a(href="#").social__card
          img(src="assets/img/social/card8.jpg", alt="bg").social__card-img
      .swiper-slide.social__swiper-slide
        a(href="#").social__card
          img(src="assets/img/social/card9.jpg", alt="bg").social__card-img

  .social__cards
    a(href="#").social__card
      picture.social__card-img
        source(media="(min-width: 320px)", srcset="assets/img/social/card1.webp", type="image/webp")
        source(media="(min-width: 320px)", srcset="assets/img/social/card1.png", type="image/png")
        img(src="assets/img/social/card1.png", alt="bg")
    a(href="#").social__card
      picture.social__card-img
        source(media="(min-width: 320px)", srcset="assets/img/social/card2.webp", type="image/webp")
        source(media="(min-width: 320px)", srcset="assets/img/social/card2.png", type="image/png")
        img(src="assets/img/social/card2.png", alt="bg")
    a(href="#").social__card
      picture.social__card-img
        source(media="(min-width: 320px)", srcset="assets/img/social/card3.webp", type="image/webp")
        source(media="(min-width: 320px)", srcset="assets/img/social/card3.png", type="image/png")
        img(src="assets/img/social/card3.png", alt="bg")
    a(href="#").social__card
      picture.social__card-img
        source(media="(min-width: 320px)", srcset="assets/img/social/card4.webp", type="image/webp")
        source(media="(min-width: 320px)", srcset="assets/img/social/card4.png", type="image/png")
        img(src="assets/img/social/card4.png", alt="bg")
    a(href="#").social__card
      picture.social__card-img
        source(media="(min-width: 320px)", srcset="assets/img/social/card5.webp", type="image/webp")
        source(media="(min-width: 320px)", srcset="assets/img/social/card5.png", type="image/png")
        img(src="assets/img/social/card5.png", alt="bg")
    a(href="#").social__card
      picture.social__card-img
        source(media="(min-width: 320px)", srcset="assets/img/social/card6.webp", type="image/webp")
        source(media="(min-width: 320px)", srcset="assets/img/social/card6.png", type="image/png")
        img(src="assets/img/social/card6.png", alt="bg")
    a(href="#").social__card
      picture.social__card-img
        source(media="(min-width: 320px)", srcset="assets/img/social/card7.webp", type="image/webp")
        source(media="(min-width: 320px)", srcset="assets/img/social/card7.png", type="image/png")
        img(src="assets/img/social/card7.png", alt="bg")
    a(href="#").social__card
      picture.social__card-img
        source(media="(min-width: 320px)", srcset="assets/img/social/card8.webp", type="image/webp")
        source(media="(min-width: 320px)", srcset="assets/img/social/card8.png", type="image/png")
        img(src="assets/img/social/card8.png", alt="bg")
    a(href="#").social__card
      picture.social__card-img
        source(media="(min-width: 320px)", srcset="assets/img/social/card9.webp", type="image/webp")
        source(media="(min-width: 320px)", srcset="assets/img/social/card9.png", type="image/png")
        img(src="assets/img/social/card9.png", alt="bg")
    



          
      