.social
  .container.social__container
    h2.title.social__title КухниСити в соцсетях
    p.social__description Новые модели, выгодные акции и неожиданные дизайнерские решения ежедневно в удобном для&nbsp;вас формате. Подписывайтесь!
    h2.social__subtitle Подписывайтесь на нас
    .social__block
      a(href="#").social__block-link
        img(src="assets/img/social/facebook.svg", alt="facebook")
      a(href="#").social__block-link
        img(src="assets/img/social/vk.svg", alt="vk")
      a(href="#").social__block-link
        img(src="assets/img/social/instagram.svg", alt="instagram")
      a(href="#").social__block-link
        img(src="assets/img/social/odnoklasniki.svg", alt="odnoklasniki")
      a(href="#").social__block-link
        img(src="assets/img/social/pinterest.svg", alt="pinterest")
      a(href="#").social__block-link
        img(src="assets/img/social/twitter.svg", alt="twitter")
      a(href="#").social__block-link
        img(src="assets/img/social/youtube.svg", alt="youtube")

  .swiper-contaner.social__swiper-container
    .swiper-wrapper.social__swiper-wrapper 
      .swiper-slide.social__swiper-slide
        a(href="#").social__card
          img(src="assets/img/social/card1.png", alt="bg").social__card-img
      .swiper-slide.social__swiper-slide
        a(href="#").social__card
          img(src="assets/img/social/card1.png", alt="bg").social__card-img
      .swiper-slide.social__swiper-slide
        a(href="#").social__card
          img(src="assets/img/social/card1.png", alt="bg").social__card-img
      .swiper-slide.social__swiper-slide
        a(href="#").social__card
          img(src="assets/img/social/card1.png", alt="bg").social__card-img
      .swiper-slide.social__swiper-slide
        a(href="#").social__card
          img(src="assets/img/social/card1.png", alt="bg").social__card-img
      .swiper-slide.social__swiper-slide
        a(href="#").social__card
          img(src="assets/img/social/card1.png", alt="bg").social__card-img
      .swiper-slide.social__swiper-slide
        a(href="#").social__card
          img(src="assets/img/social/card1.png", alt="bg").social__card-img
      .swiper-slide.social__swiper-slide
        a(href="#").social__card
          img(src="assets/img/social/card1.png", alt="bg").social__card-img
      .swiper-slide.social__swiper-slide
        a(href="#").social__card
          img(src="assets/img/social/card1.png", alt="bg").social__card-img


          
      