section.stages
  .container.stages__container

    .title.stages__title Как мы работаем?

    .swiper-container.stages__swiper-container
      .swiper-wrapper.stages__swiper-wrapper
        .swiper-slide.stages__swiper-slide
          .stages__card 
            img.stages__card-img(src="assets/img/stages/1.jpg", alt="1") 
            h3.stages__card-title Создание проекта 
            p.stages__card-description Онлайн-заявка или&nbsp;визит&nbsp;в&nbsp;салон
            img.stages__card-number(src="assets/img/stages/1.svg", alt="1")
        .swiper-slide.stages__swiper-slide
          .stages__card 
            img.stages__card-img(src="assets/img/stages/1.jpg", alt="1") 
            h3.stages__card-title Создание проекта 
            p.stages__card-description Онлайн-заявка или&nbsp;визит&nbsp;в&nbsp;салон
            img.stages__card-number(src="assets/img/stages/1.svg", alt="1")
        .swiper-slide.stages__swiper-slide
          .stages__card 
            img.stages__card-img(src="assets/img/stages/1.jpg", alt="1") 
            h3.stages__card-title Создание проекта 
            p.stages__card-description Онлайн-заявка или&nbsp;визит&nbsp;в&nbsp;салон
            img.stages__card-number(src="assets/img/stages/1.svg", alt="1")
        .swiper-slide.stages__swiper-slide
          .stages__card 
            img.stages__card-img(src="assets/img/stages/1.jpg", alt="1") 
            h3.stages__card-title Создание проекта 
            p.stages__card-description Онлайн-заявка или&nbsp;визит&nbsp;в&nbsp;салон
            img.stages__card-number(src="assets/img/stages/1.svg", alt="1")


      .swiper-button-prev.stages__swiper-button-prev
      .swiper-button-next.stages__swiper-button-next