section.productBenefits2
  .container.benefits__container
    .swiper-container.benefits__swiper-container
      .swiper-wrapper.benefits__swiper-wrapper
        .swiper-slide.benefits__swiper-slide
          .benefits__card
            h3.benefits__card-title Инженерная экспертиза бесплатно 
            p.benefits__card-description Каждому клиенту мы дарим инженерную экспертизу кухонного помещения. Опираясь на предписания, вы грамотно подготовите помещение к установке кухни, сэкономите бюджет и собственные нервы.
          .benefits__card
            h3.benefits__card-title Инженерная проверка кухни
            p.benefits__card-description Проверка состояния стен, полов и коммуникаций специальными инструментами измерения и контроля
          .benefits__card
            h3.benefits__card-title ЭкономиЯ ваших денег
            p.benefits__card-description По внутренней статистике, 76% новосёлов теряют до 98 000 рублей из-за ошибок и неточностей, сделанных во время ремонта. 