section.chars
    .container.chars__container
        .chars__expand-button.title Характеристики
        .chars__expand
            .swiper-container.chars__swiper-container
                .swiper-wrapper
                    .swiper-slide.chars__swiper-slide
                        .chars__block
                            .chars__info
                                .chars__info-title Стиль
                                .chars__info-description Классичесский
                            .chars__info
                                .chars__info-title Размер 
                                .chars__info-description На заказ от 6 м <sup>2</sup>
                            .chars__info
                                .chars__info-title Патина
                                .chars__info-description Не предусмотрена (патина возможна с моделей Ancona Lux и Ancona Soft Lux) 
                        .chars__block
                            .chars__info
                                .chars__info-title Материал
                                .chars__info-description МДФ
                            .chars__info
                                .chars__info-title Цвет
                                .chars__info-description 204 варианта по раскладке Color System

                            .chars__info
                                .chars__info-title Варианты отделки
                                .chars__info-description Финишная отделка глянцевым лаком (матовым лаком для моделей Ancona Soft и Ancona Soft Lux)
                        .chars__block
                            .chars__info
                                .chars__info-title Форма
                                .chars__info-description Прямые, Угловые, П-образные, С островом, С барной стойкой
                            .swiper-container.chars-image__swiper-container
                                .swiper-wrapper.chars-image__swiper-wrapper
                                    .swiper-slide.chars-image__swiper-slide
                                .swiper-scrollbar.chars-image__swiper-scrollbar
                            .chars__info
                                .chars__info-title Виды фасадов
                                .chars__info-description Глухой, со стеклом(рамка), со стеклом АВ арки вверх, со стеклом АВН арки вверх-вниз

                .swiper-scrollbar.chars__swiper-scrollbar
                               
        .chars__line