section.productHero
    .status.productHero__status
        a(href="index.html").status-item Главная 
        span > 
        span.status-item.status-item--active Каталог 

    .swiper-container.productHero__swiper-container
        .swiper-wrapper
            .swiper-slide.productHero__swiper-slide
                h2.title.productHero__title Кухня Kuchenberg Kappella +&nbsp;Kuchenberg Kappella Pro

                .productHero__info
                    .productHero__block
                        span.productHero__price от 51 424 ₽ 
                        span.productHero__text2.productHero__text За погонный метр
                    .productHero__block
                        span.productHero__button.button.button--primary Рассчитать стоимость
                        span.productHero__text Дизайн-проект и замер бесплатно
 
                picture.productHero__img
                    source(media="(min-width:1280px)", srcset="assets/img/product/slide1-xl.webp", type="image/webp")
                    source(media="(min-width:1280px)", srcset="assets/img/product/slide1-xl.png", type="image/png")
                    source(media="(min-width:320px)", srcset="assets/img/product/slide1.png", type="image/png")
                    source(media="(min-width:320px)", srcset="assets/img/product/slide1.webp", type="image/webp")
                    img(src="assets/img/product/slide1.png", alt="Кухня Kuchenberg Kappella + Kuchenberg Kappella Pro")
        
            .swiper-slide.productHero__swiper-slide
                    h2.title.productHero__title Кухня Kuchenberg Kappella +&nbsp;Kuchenberg Kappella Pro

                    .productHero__info
                        .productHero__block
                            span.productHero__price от 51 424 ₽ 
                            span.productHero__text2.productHero__text За погонный метр
                        .productHero__block
                            span.productHero__button.button.button--primary Рассчитать стоимость
                            span.productHero__text Дизайн-проект и замер бесплатно
    
                    picture.productHero__img
                        source(media="(min-width:1280px)", srcset="assets/img/product/slide1-xl.webp", type="image/webp")
                        source(media="(min-width:1280px)", srcset="assets/img/product/slide1-xl.png", type="image/png")
                        source(media="(min-width:320px)", srcset="assets/img/product/slide1.png", type="image/png")
                        source(media="(min-width:320px)", srcset="assets/img/product/slide1.webp", type="image/webp")
                        img(src="assets/img/product/slide1.png", alt="Кухня Kuchenberg Kappella + Kuchenberg Kappella Pro")

        .swiper-button-next.productHero__swiper-button-next.customcursor
            .hover-cursor-wrap
                img(src="assets/img/product/cursor.png").hover-cursor
    
    .productBenefits
        .container 
            .swiper-container.productBenefits__swiper-container
                .swiper-wrapper
                    .swiper-slide.productBenefits__swiper-slide
                        span.productBenefits__text Производство от 30 дней
                        span.productBenefits__text.productBenefits__text--underline Рассрочка на 6 месяцев
                        span.productBenefits__text Российско-немецкое производство