section.projects
    .container.bonuses__container
        .title.bonuses__title Реализованые проекты
        
        .swiper-container.bonuses__swiper-container
            .swiper-wrapper.bonuses__swiper-wrapper
                .swiper-slide.bonuses__swiper-slide
                    .projects__info
                        h3.projects__info-name Кухня Kuchenberg Kappella
                        .projects__stats
                            .projects__stats-block
                                .projects__stats-number 11
                                .projects__stats-label за п.м.
                            .projects__stats-block
                                .projects__stats-number 37 
                                .projects__stats-label дней
                            .projects__stats-block
                                .projects__stats-number.projects__stats-number--red 214 250 ₽
                                .projects__stats-label Цена
                        p.projects__info-description 150 дизайнеров-архитекторов ежедневно создают пространства индивидуально под каждого клиента. Получите бесплатный дизайн-проект под ваши предпочтения.


                    a(href='#').bonuses__card.bonuses__card
                        picture.bonuses__card-img.bg-image
                            source(media="(min-width: 768px)", srcset="assets/img/projects/1-md.webp", type="image/webp")
                            source(media="(min-width: 768px)", srcset="assets/img/projects/1-md.jpg", type="image/jpg")
                            source(media="(min-width: 320px)", srcset="assets/img/projects/1.webp", type="image/webp")
                            source(media="(min-width: 320px)", srcset="assets/img/projects/1.jpg", type="image/jpg")
                            img(src="assets/img/projects/1-md.jpg", alt="bg").lazyload
                
                .swiper-slide.bonuses__swiper-slide
                    .projects__info
                        h3.projects__info-name Кухня Kuchenberg Kappella
                        .projects__stats
                            .projects__stats-block
                                .projects__stats-number 11
                                .projects__stats-label за п.м.
                            .projects__stats-block
                                .projects__stats-number 37 
                                .projects__stats-label дней
                            .projects__stats-block
                                .projects__stats-number.projects__stats-number--red 214 250 ₽
                                .projects__stats-label Цена
                        p.projects__info-description 150 дизайнеров-архитекторов ежедневно создают пространства индивидуально под каждого клиента. Получите бесплатный дизайн-проект под ваши предпочтения.
                    a(href='#').bonuses__card.bonuses__card--light
                        picture.bonuses__card-img.bg-image
                            source(media="(min-width: 768px)", srcset="assets/img/projects/1-md.webp", type="image/webp")
                            source(media="(min-width: 768px)", srcset="assets/img/projects/1-md.jpg", type="image/jpg")
                            source(media="(min-width: 320px)", srcset="assets/img/projects/1.webp", type="image/webp")
                            source(media="(min-width: 320px)", srcset="assets/img/projects/1.jpg", type="image/jpg")
                            img(src="assets/img/projects/1-md.jpg", alt="bg").lazyload

                .swiper-slide.bonuses__swiper-slide
                    .projects__info
                        h3.projects__info-name Кухня Kuchenberg Kappella
                        .projects__stats
                            .projects__stats-block
                                .projects__stats-number 11
                                .projects__stats-label за п.м.
                            .projects__stats-block
                                .projects__stats-number 37 
                                .projects__stats-label дней
                            .projects__stats-block
                                .projects__stats-number.projects__stats-number--red 214 250 ₽
                                .projects__stats-label Цена
                        p.projects__info-description 150 дизайнеров-архитекторов ежедневно создают пространства индивидуально под каждого клиента. Получите бесплатный дизайн-проект под ваши предпочтения.
                    a(href='#').bonuses__card.bonuses__card--light
                        picture.bonuses__card-img.bg-image
                            source(media="(min-width: 768px)", srcset="assets/img/projects/1-md.webp", type="image/webp")
                            source(media="(min-width: 768px)", srcset="assets/img/projects/1-md.jpg", type="image/jpg")
                            source(media="(min-width: 320px)", srcset="assets/img/projects/1.webp", type="image/webp")
                            source(media="(min-width: 320px)", srcset="assets/img/projects/1.jpg", type="image/jpg")
                            img(src="assets/img/projects/1-md.jpg", alt="bg").lazyload


            .swiper-button-prev.bonuses__swiper-button-prev
            .swiper-button-next.bonuses__swiper-button-next

            .button.bonuses__button.button--bordered Посмотреть все