.container
    .title.questions__title Часто задаваемые вопросы
section.questions
    .questions__leader
        .questions__leader-img
            picture
                source(media="(min-width: 1920px)", srcset="assets/img/questions/leader-xl.webp", type="image/webp")
                source(media="(min-width: 1920px)", srcset="assets/img/questions/leader-xl.jpg", type="image/jpg")
                source(media="(min-width: 1280px)", srcset="assets/img/questions/leader-lg.webp", type="image/webp")
                source(media="(min-width: 1280px)", srcset="assets/img/questions/leader-lg.jpg", type="image/jpg")
                source(media="(min-width: 320px)", srcset="assets/img/questions/leader-md.webp", type="image/webp")
                source(media="(min-width: 320px)", srcset="assets/img/questions/leader-md.jpg", type="image/jpg")
                img(src="assets/img/questions/leader-xl.jpg", alt="leader").lazyload
        .questions__leader-block
            span.questions__leader-text отвечает
            span.questions__leader-name Андрей Селиванов
            span.questions__leader-text руководитель производства
    .container.questions__container
        .questions__expand-button Мне понравились фасады одной модели, а столешница другой, что делать? 
        .questions__expand
            .questions__expand-text 
                p 150 дизайнеров-архитекторов ежедневно создают пространства индивидуально под каждого клиента.
                    span Получите бесплатный дизайн-проект под ваши предпочтения.
                p Каждому клиенту мы дарим инженерную экспертизу кухонного помещения. 
                    span Опираясь на предписания, вы грамотно подготовите помещение к установке кухни, сэкономите бюджет и собственные нервы.
        .questions__expand-button Какого размера кухню можно заказать?
        .questions__expand
            .questions__expand-text 
                p 150 дизайнеров-архитекторов ежедневно создают пространства индивидуально под каждого клиента.
                    span Получите бесплатный дизайн-проект под ваши предпочтения.
                p Каждому клиенту мы дарим инженерную экспертизу кухонного помещения. 
                    span Опираясь на предписания, вы грамотно подготовите помещение к установке кухни, сэкономите бюджет и собственные нервы.
        .questions__expand-button Дизайн-проект правда бесплатный?
        .questions__expand
            .questions__expand-text 
                p 150 дизайнеров-архитекторов ежедневно создают пространства индивидуально под каждого клиента.
                    span Получите бесплатный дизайн-проект под ваши предпочтения.
                p Каждому клиенту мы дарим инженерную экспертизу кухонного помещения. 
                    span Опираясь на предписания, вы грамотно подготовите помещение к установке кухни, сэкономите бюджет и собственные нервы.
        .questions__expand-button Что с доставкой и сборкой?
        .questions__expand
            .questions__expand-text 
                p 150 дизайнеров-архитекторов ежедневно создают пространства индивидуально под каждого клиента.
                    span Получите бесплатный дизайн-проект под ваши предпочтения.
                p Каждому клиенту мы дарим инженерную экспертизу кухонного помещения. 
                    span Опираясь на предписания, вы грамотно подготовите помещение к установке кухни, сэкономите бюджет и собственные нервы.
        .questions__expand-button Какие гарантии на продукцию даете?
        .questions__expand
            .questions__expand-text 
                p 150 дизайнеров-архитекторов ежедневно создают пространства индивидуально под каждого клиента.
                    span Получите бесплатный дизайн-проект под ваши предпочтения.
                p Каждому клиенту мы дарим инженерную экспертизу кухонного помещения. 
                    span Опираясь на предписания, вы грамотно подготовите помещение к установке кухни, сэкономите бюджет и собственные нервы.
            

            
            