.articles {
    padding-top: 50px;
    background: #F2F2F2;

    &__title2 {
        margin-top: 110px;
    }

    &__container {
        padding-right: 0;
    }

    &__swiper-slide {
        height: 372px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 15px;
    }

    &__swiper-slide2 {
        height: auto !important;
    }

    &__swiper-wrapper {
        width: 270px !important;
        padding-bottom: 100px;
    }

    &__swiper-container {
        margin-top: 27px;
    }

    &__swiper-container2 {

        .swiper-button-next,
        .swiper-button-prev {
            top: 80%;
        }
    }

    &__swiper {

        &-button-next,
        &-button-prev {
            top: 90%;
        }

        &-button-next {
            right: 25px;
        }
    }

    &__link {


        font-family: 'Cormorant Garamond';
        font-style: normal;
        font-weight: 300;
        font-size: 25px;
        line-height: 117.3%;
        /* or 29px */
        letter-spacing: -0.025em;
        // margin-top: 8px;
        color: #141414;
        // text-align: right;
        margin-left: 13px;
        width: 242px;

        // height: 58px;
        &--red {
            text-align: center;
            background-color: $color-red;
            display: flex;
            color: #FFFFFF;
            margin-bottom: 8px;
            width: 238px;
            margin-left: 0;
        }

        &-arrow {
            position: absolute;
            right: -22px;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 22px !important;
            background-color: $color-red;
            height: 50%;


            // display: block;
            // img {
            //     width: 8px;
            //     height: 8px;
            // }
        }
    }

    &__card {
        position: relative;
        width: 270px;
        height: 180px;
        // display: flex;
        overflow: hidden;
        // justify-content: center;
        // align-items: center;
        display: block;

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(#000000, 0.5);
            z-index: 2;
        }

        &--full {
            height: 372px;
            display: block;

            .articles__card-description {
                width: 204px;
            }
        }

        &-date {
            z-index: 10;
            font-size: 12px;
            line-height: 120.3%;
            /* identical to box height, or 14px */
            letter-spacing: 0.105em;
            text-transform: uppercase;
            color: #FFFFFF;
            transform: rotate(-90deg);
            position: absolute;
            top: 58px;
            right: -28px;
            display: block;
        }

        &-description {
            z-index: 10;
            font-size: 16px;
            line-height: 137.8%;
            /* or 22px */
            letter-spacing: -0.025em;
            color: #FFFFFF;
            position: absolute;
            left: 17px;
            bottom: 28px;
            width: 240px;
        }

        &-label {
            z-index: 10;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            color: #323232;
            background-color: #F5EEE4;
            padding: 7px 14px;
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;

        }

        &-button {

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 10;
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: rgba(#FFFFFF, 0.5);

            &::after {
                content: '';
                border: 8px solid transparent;
                border-left: 8px solid #FFFFFF;
                left: 5px;
                display: inline-block;
            }
        }



        &-img {

            // position: absolute;
            img {
                max-width: 100%;
                height: 100%;
            }

        }
    }

    &__button {
        display: none;
    }
}
