.contactUs {
    background: #F2F2F2;
    padding-bottom: 110px;

    &__title {
        margin-top: 52px;
        margin-bottom: 35px;
    }

    &__description {
        color: #666666;
        margin-bottom: 52px;
    }

    &__input {

        font-size: 16px;

        &-group {
            margin-bottom: 28px;
        }
    }

    &__button {
        margin-top: 16px;
        margin-bottom: 29px;
    }

    &__policy {
        width: 279px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}
