.header {
    font-size: 14px;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__location {
        // line-height: 157%;
        /* identical to box height, or 22px */
        letter-spacing: -0.02em;
        display: flex;
        // justify-content: center;
        align-items: center;

        &::before {
            content: '';
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background-color: $color-red;
            margin-right: 6px;
            display: block;
        }

        &::after {
            content: url('../img/expand-arrow.svg');
            margin-left: 6px;
        }

        &-place {
            line-height: 157%;
        }
    }

    &__block {
        padding: 20px 0;

        &-open {
            text-transform: uppercase;
            line-height: 17px;
            letter-spacing: 0.07em;
            color: #2B2B2B;

            &::before {
                content: url('../img/header/header-burger.svg');
                margin-right: 10px;
            }
        }

        &-button {
            display: none;
        }
    }

    &__logo {
        background: url('../img/header/header-logo-md.svg') no-repeat center / contain;
        width: 128px;
        height: 29px;
    }

    &__navigation {
        padding: 12px 0;
    }

    &__contacts {
        display: none;

        &-button {
            line-height: 157%;
            /* identical to box height, or 22px */
            letter-spacing: -0.02em;
            color: #333333;
            border-bottom: 1px solid #DADADA;
            display: none;
        }

        &-mail {
            margin-right: 36px;
        }

        a {
            color: #333333;

        }
    }

    &__about {
        // align-self: flex-start;
        margin-right: auto;
        margin-left: 12px;
        padding-left: 19px;
        padding-right: 19px;
        font-size: 16px;
        line-height: 157%;
        /* or 25px */
        letter-spacing: -0.02em;
        color: #333333;
        display: none;
        position: relative;
        cursor: pointer;
        user-select: none;
        // display: flex;
        align-items: center;

        // transform: translateZ(100);
        // transition: background-color 0.2s ease-in-out;



        &-menu {
            position: absolute;
            top: -12px;
            left: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            padding-left: 20px;
            z-index: 100;
            background-color: #fff;
            max-height: 0;
            overflow: hidden;
            opacity: 0;
            transition: opacity 0.5s ease-out;
            flex-shrink: 0;


        }

        &-item {
            // background-color: #fff;
            font-size: 12px;
            line-height: 246.5%;
            /* or 30px */
            letter-spacing: 0.035em;
            color: #A0A0A0;
            // flex-shrink: 0;

            &:nth-child(1) {
                margin-top: 44px;
            }
        }

        span {
            z-index: 10000;


            &::after {
                content: '';
                width: 8px;
                height: 4px;
                background: url('../img/expand-arrow.svg') no-repeat center / cover;
                margin-left: 6px;
                display: inline-block;
                margin-bottom: 2px;
                transition: transform 0.2s ease-in-out;
            }
        }
    }


    &__menu {
        display: none;
        margin-right: 57px;

        &-item {
            margin-right: 36px;

            a {
                color: #333333;
                line-height: 157%;
                /* identical to box height, or 22px */
                letter-spacing: -0.02em;
            }
        }
    }
}

.navigation {
    background-color: rgba(240, 240, 240, 0.88);
}

.header-button {
    color: #1B1B1B;
    letter-spacing: 0.07em;
    line-height: 120.3%;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(21, 21, 21, 0.22);
}

.header__about--active {
    background-color: #fff;

    .header__about {
        &-menu {
            // max-height: 210px;
            min-height: 210px;
            opacity: 1;
        }

    }

    span {
        &::after {
            transform: rotate(180deg) !important;
            // display: none !important;
        }
    }
}
