@media (min-width: 1280px) {
    .expand {
        &__listItem {
            transition: color 0.2s ease-in-out;

            &:hover {
                color: $color-red;
            }
        }
    }

    .header__menu-item {
        a {

            transition: 0.2s ease-in-out;

            &:hover {
                color: $color-red;
            }
        }
    }

    .header__block-button {
        transition: 0.2s ease-in-out;

        &:hover {
            color: $color-red;
        }
    }

    .button {
        transition: background-color 0.2s ease-in-out;
    }

    .button--primary {
        &:hover {
            background-color: #232323;
        }
    }

    .button--dark {
        &:hover {
            background-color: $color-red;
        }
    }

    // .discounts__swiper-slide {
    //     cursor: url('../img/discounts/cursor.png') 25 15, crosshair;
    //     // &:nth-child(3) {
    //     //     .discounts__card {
    //     //     }
    //     // }
    // }
    .production__card {
        &-list {
            transition: opacity 0.5s ease-in-out;

            a {
                &:hover {
                    color: #FFFFFF;
                }
            }
        }

        &-name {
            transition: bottom 0.4s ease-in-out;
        }

        &:nth-child(5) {

            cursor: default;

            &:hover {
                .production__card-list {
                    opacity: 1;
                }

                .production__card-name {
                    bottom: 260px;
                }
            }
        }
    }

    .card {
        &__hover {
            &-calculator {
                &:hover {
                    &::after {
                        opacity: 1;
                    }
                }
            }
        }

        &__img {
            &:hover {
                .card__hover {
                    opacity: 1;
                }
            }
        }
    }

    .articles__link--red {
        transition: background-color 0.2s ease-in-out;

        &:hover {
            background-color: #232323;

        }
    }

    .articles__link-arrow {
        background-color: transparent;
    }

    .list__card-item {
        transition: color 0.2s ease-in-out;

        &:hover {
            color: $color-red;
        }
    }

    .list__card-title2 {
        transition: color 0.2s ease-in-out;

        &:hover {
            color: $color-red;
        }
    }


    .type__item {
        &:hover {
            color: #323232;
        }
    }

    .social__block-link {
        transition: border-color 0.2s ease-in-out;

        &:hover {
            .social__block-img {
                path {
                    transition: fill 0.2s ease-in-out;
                    fill: $color-red;
                }
            }
        }
    }

    .models__button {
        &:hover {
            // color: blue;

            .models__button-text {
                &::after {
                    transform: scaleX(1.5);
                    margin-left: 20px;
                }
            }
        }
    }

    .location__social {
        .social__block-link {
            &:hover {
                border-color: $color-red;

                path {
                    fill: $color-red
                }
            }



        }
    }

}

@media(min-width:1920px) {
    .contactUs__button {
        &:hover {
            background-color: #232323;
        }
    }
}
