.leader {
    background-color: #F2F2F2;
    padding-top: 66px;
    padding-bottom: 103px;


    &__container {
        padding-right: 0;
        max-width: 320px;
        margin-left: auto;
        margin-right: auto;
    }

    &__title {
        display: none;
    }

    &__text {
        width: 270px;
        line-height: 144%;
    }

    &__info {
        display: flex;
        flex-direction: column;
        margin-bottom: 37px;

        &-title {
            width: 264px;
            margin-bottom: 37px;
        }

        &-img {
            height: 258px;
            width: 335px;
            margin-left: auto;
            overflow: hidden;
            margin-bottom: 24px;

            // img {
            //     bottom: 26px;
            //     left: -23px;
            //     width: 95%;
            // }
        }

        &-name {
            font-size: 16px;
            line-height: 120.3%;
            /* or 19px */
            letter-spacing: 0.105em;
            text-transform: uppercase;
            color: #000000;
            margin-bottom: 5px;
        }

        &-job {
            color: #A0A0A0;
            margin-bottom: 21px;
        }

        &-sign {
            width: 82px;
            height: 49px;
            background: #F2F2F2 url('../img/leader/leader-sign.png') no-repeat center / cover;
        }


    }

    &__text {
        color: #666666;

        &-expand {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
        }
    }

    &__button {
        font-size: 16px;
        line-height: 120.3%;
        /* or 19px */
        letter-spacing: 0.105em;
        text-transform: uppercase;
        color: #000000;
        display: flex;
        // justify-content: center;
        // align-items: center;
        margin-top: 34px;
        cursor: pointer;

        &::after {
            content: '';
            width: 11px;
            height: 6px;
            background: url('../img/leader/button-expand.svg') no-repeat center / cover;
            display: inline-block;
            margin-left: 14px;
            transition: transform 0.3s ease-in-out;
            // vertical-align: middle;
            // align-self: center;
            margin-top: 6px;
        }

        &--active {
            &::after {
                transform: rotate(180deg);
            }
        }
    }

    &__button2 {
        // display: none;
        margin-top: 64px;
        width: 270px;
    }
}
