@media(min-width: 321px) {
    .production {
        &__wrap {
            padding-top: 10px;
        }
    }

    .hero {
        &__title {
            width: auto;
        }

        &__description {
            width: auto;
        }
    }

    .contactUs {
        img {
            min-width: 798px;
            min-height: 216px;
            // margin-left: auto;
            left: 50%;
            transform: translateX(-50%);
            // margin-right: auto;
        }
    }
}

@media(min-width: 768px) {


    // base-768
    .mainForm {
        &__input {
            width: 329px;
        }
    }

    .title {
        font-size: 55px;
    }

    .button {
        font-size: 20px;
    }

    // header-768
    .header {
        &__contacts {
            display: block;
        }

        &__block {
            &-button {
                display: block;
                font-size: 16px;
            }

            &-open {
                font-size: 16px;
                line-height: 20px;

                &::before {
                    content: url('../img/header/header-burger-md.svg');
                    margin-right: 10px;
                }
            }
        }

        &__about {
            display: block;
        }

        &__logo {
            // background-image: url('../img/header/header-logo-sm.svg');
            width: 156px;
            height: 35px;
        }
    }

    .navigation {
        &__button {
            display: none;
        }
    }

    // hero-768 
    .hero {
        height: 782px;
        background: url(../img/hero/hero-bg-lg.webp) no-repeat center / cover;

        &__container {
            padding-left: 0;
            padding-right: 0;
            padding-top: 120px;
            padding-bottom: 0;
        }

        &__title {
            width: 513px;
        }

        &__description {
            width: 493px;
        }

        &__info {
            max-width: 320px;

            &-text {
                width: 150px;
            }

            &-number {
                font-size: 40px;
            }
        }
    }

    // benefits-768
    .benefits {
        background-color: #FFFFFF;

        &__swiper-slide {
            width: 100% !important;
            flex-wrap: wrap;
            // justify-content: center;
            max-width: 768px;
            margin-left: auto;
            margin-right: auto;
        }

        &__card {
            border-left: 2px solid rgba(50, 50, 50, 0.08);
            margin-right: 0;
            margin-bottom: 51px;

            &:nth-child(odd) {
                width: 391px;

                .benefits__card-description {
                    width: 336px;
                }
            }

            &:nth-child(even) {
                width: 300px;
                padding-right: 0;
            }

            &:nth-child(2) {
                .benefits__card-description {
                    width: 215px;
                }
            }

            &:nth-child(4) {
                .benefits__card-description {
                    width: 254px;
                }
            }

            &-title {
                max-width: 264px;
                // width: auto;
                font-size: 20px;
            }

            &-description {
                line-height: 20px;
            }
        }
    }

    // production-768 
    .production {
        &__wrap {
            flex-direction: row;
            align-items: start;
            width: 768px;
            justify-content: space-between;
            margin-left: auto;
            margin-right: auto;
        }

        &__card {

            &-name {
                font-size: 20px;
                line-height: 25px;
                left: 34px;
                bottom: 34px;
            }

            &:nth-child(5) {
                order: 1;
                width: 458.52px;
                height: 512.81px;
            }

            &:nth-child(2) {
                width: 303.46px;
                height: 342.08px;
                order: 2;
            }

            &:nth-child(1) {
                width: 768px;
                height: 272px;
                order: 5;
                top: -181px;
                overflow: hidden;

                .production__card-img {
                    img {
                        min-width: 100%;
                    }
                }
            }

            &:nth-child(3) {
                width: 303.46px;
                height: 354.14px;
                order: 4;
                top: -176px;
            }

            &:nth-child(4) {
                width: 458.52px;
                height: 184.61px;
                order: 3;
                top: -6px;
            }
        }
    }
}

@media (min-width: 1280px) {

    // base-1280
    .title {
        font-size: 64px;
    }

    // header-1280 
    .header {
        &__menu {
            display: flex;
            margin-right: 0;
        }

        &__logo {
            // background-image: url('../img/header/header-logo-md.svg');
            width: 188px;
            height: 43px;
        }

        &__contacts {
            &-button {
                margin-right: 37px;
                display: inline-block;
            }
        }

        &__block {
            &-button {
                font-size: 18px;
            }

            &-open {
                font-size: 18px;
                line-height: 22px;
            }
        }
    }

    // hero-1280 
    .hero {
        background: url(../img/hero/hero-bg-lg.webp) no-repeat center / cover;
        height: 721px;

        &__mainForm {
            width: 475px;
        }

        &__input {
            width: 231px;
        }

        &__container {
            display: flex;
            justify-content: center;
            // align-items: center;
            width: 55%;
            max-width: 1064px;
            left: 0;
            transform: translateX(0);
            padding-left: 60px;
            height: 100%;

            &::before {
                filter: blur(0);
                height: 100%;
                top: 0;
                width: 100%;
                left: 0;
            }
        }

        &__info {
            margin-left: 0;
        }

        &__title {
            width: 597px;
        }

        &__description {
            width: 480px;
        }
    }

    // benefits-1280 
    .benefits {
        &__swiper-slide {
            width: 101% !important;
            max-width: none;
            // margin-left: -10px;
        }

        &__card {
            padding-left: 32px;
            padding-right: 0;

            &-description {
                font-size: 14px;
                line-height: 17px;
            }

            &:nth-child(1) {
                width: 271px;

                .benefits__card-description {
                    width: 218px;
                }
            }

            &:nth-child(2) {
                width: 289px;

                .benefits__card-description {
                    width: 189px;
                }
            }

            &:nth-child(3) {
                width: 329px;

                .benefits__card-description {
                    width: 268px;
                }
            }

            &:nth-child(4) {
                width: 290px;

                .benefits__card-description {
                    width: 221px;
                }
            }

        }
    }


    // production-1280
    .production {
        &__wrap {
            flex-direction: row;
            align-items: start;
            width: 1280px;
            justify-content: space-between;
            margin-left: auto;
            margin-right: auto;
        }

        &__card {

            &-name {
                font-size: 20px;
                line-height: 25px;
                left: 34px;
                bottom: 34px;
            }

            &:nth-child(5) {
                order: 1;
                width: 762.99px;
                height: 512.81px;
            }

            &:nth-child(2) {
                width: 504.98px;
                height: 342.08px;
                order: 2;
            }

            &:nth-child(1) {
                width: 1280px;
                height: 308px;
                order: 5;
                top: -181px;
                overflow: hidden;

                .production__card-img {
                    img {
                        min-width: 100%;
                    }
                }
            }

            &:nth-child(3) {
                width: 504.98px;
                height: 401.3px;
                order: 4;
                top: -176px;
            }

            &:nth-child(4) {
                width: 763px;
                height: 230px;
                order: 3;
                top: -6px;
            }
        }
    }


}

@media(min-width: 1920px) {

    // base-1920
    .title {
        font-size: 72px;
    }

    .mainForm {
        &__input {
            font-size: 18px;
        }
    }

    // header-1920
    .header {
        &__logo {
            // background-image: url('../img/header/header-logo-sm.svg');
            width: 206px;
            height: 47px;
        }

        &__about {
            margin-right: 34px;
        }

        &__menu {
            margin-right: auto;
        }

        &__contacts {
            &-mail {
                margin-right: 94px;
            }
        }

        &__block {
            &-open {
                &::before {
                    content: url('../img/header/header-burger-xl.svg');
                    margin-right: 10px;
                }
            }
        }
    }

    // hero-1920
    .hero {
        &__title {
            width: 911px;
        }

        &__description {
            width: 616px;
        }

        &__info {
            &-number {
                font-size: 45px;
                line-height: 56px;
            }
        }
    }

    // benefits-1920
    .benefits {
        &__swiper-slide {
            justify-content: center;
        }

        &__card {
            &-description {
                font-size: 16px;
                line-height: 20px;
            }

            &:nth-child(1) {
                width: 347px;

                .benefits__card-description {
                    width: 218px;
                }
            }

            &:nth-child(2) {
                width: 365px;

                .benefits__card-description {
                    width: 215px;
                }
            }

            &:nth-child(3) {
                width: 405px;

                .benefits__card-description {
                    width: 268px;
                }
            }

            &:nth-child(4) {
                width: 350px;

                .benefits__card-description {
                    width: 272px;
                }
            }
        }
    }

    // production-1920
    .production {
        &__wrap {
            flex-direction: row;
            align-items: start;
            width: 1920px;
            justify-content: space-between;
            margin-left: auto;
            margin-right: auto;
            // flex-wrap: nowrap;
        }

        &__card {

            &-img {
                img {
                    min-height: 100%;
                    min-width: 100%;
                }
            }

            &-name {
                font-size: 20px;
                line-height: 25px;
                left: 34px;
                bottom: 34px;
            }

            &:nth-child(5) {
                order: 1;
                width: 724px;
                height: 647.72px;

                // margin-left: 9px;
            }

            &:nth-child(2) {
                width: 503px;
                height: 432.07px;
                order: 2;

                .production__card-img {
                    // top: 12px;

                    img {
                        max-width: none;
                        min-width: 110%;
                    }
                }
            }

            &:nth-child(1) {
                width: 677px;
                height: 887px;
                order: 3;
                top: -1px;
                overflow: hidden;

                .production__card-img {
                    img {
                        min-width: 100%;
                    }
                }
            }

            &:nth-child(3) {
                width: 503px;
                height: 447.31px;
                order: 5;
                margin-right: auto;
                margin-left: 9px;
                top: -458px;
            }

            &:nth-child(4) {
                width: 724px;
                height: 233px;
                order: 4;
                top: -244px;
            }
        }
    }
}
