.social {
    padding-top: 50px;
    background-color: #F2F2F2;

    &__swiper {

        &-container {
            padding-left: 25px;
        }

        &-wrapper {
            width: 270px !important;
        }

        &-slide {
            margin-right: 12px;
        }
    }

    &__container {
        padding-right: 0;
    }

    &__title {
        width: 174px;
        margin-bottom: 22px;
    }

    &__description {
        color: #666666;
        margin-bottom: 45px;
        width: 270px;
    }

    &__subtitle {
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.135em;
        text-transform: uppercase;
        color: #424242;
        width: 233px;
        margin-bottom: 34px;
    }

    &__block {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 70px;

        &-link {
            width: 53px;
            height: 53px;
            border: 1px solid #C6C6C6;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 13px;
            margin-bottom: 9px;

        }



    }

    &__card {
        width: 270px;
        height: 270px;
        position: relative;
        display: block;

        &::after {
            content: url(../img/social/card-instagram.svg);
            position: absolute;
            top: 14px;
            right: 14px;
        }

        &-img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        &-icon {
            margin-left: auto;
            margin-right: 14px;
            margin-top: 14px;
        }
    }

    &__cards {
        display: none;
    }
}

.main-social {
    .social__block-img {
        transform: scale(0.5);
    }
}
