.stages {
    padding-top: 54px;
    background-color: #F2F2F2;

    &__title {
        margin-bottom: 44px;
    }

    &__container {
        padding-right: 0;
    }

    &__swiper {

        &-wrapper {
            width: 270px !important;
            padding-bottom: 152px !important;
        }

        &-slide {
            // margin-right: 3px;

            &:nth-child(1) {
                .stages__card-number {
                    bottom: -20px;
                    left: -33px;

                }
            }

            &:nth-child(2) {
                .stages__card-number {
                    width: 207px;
                    bottom: -18px;
                    left: -27px;

                }
            }

            &:nth-child(3) {
                .stages__card-number {
                    width: 207px;
                    bottom: -22px;
                    left: -44px;

                }
            }

            &:nth-child(4) {
                .stages__card-number {
                    width: 172px;
                    bottom: -17px;
                    left: -8px;

                }
            }
        }

        &-button {

            &-next,
            &-prev {
                top: 500px;
            }

            &-next {
                right: 25px;
            }
        }
    }

    &__card {
        background-color: #fff;
        color: #000000;
        text-align: center;
        display: flex;
        // justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 270px;
        height: 448px;
        // border: 1px solid black;
        // background-color: green;
        padding-top: 45px;
        position: relative;
        transition: color 0.2s ease-in-out;
        overflow: hidden;

        &-img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            opacity: 0;
            transition: opacity 0.2s ease-in-out;
        }

        &-title {
            font-size: 14px;
            line-height: 30px;
            /* or 18px */
            letter-spacing: 0.105em;
            text-transform: uppercase;
            margin-bottom: 13px;
            width: 161px;
            font-weight: normal;
        }

        &-description {
            font-size: 14px;
            line-height: 140%;
            max-width: 211px;
            /* or 22px */
            letter-spacing: 0.035em;

        }

        &-number {
            width: 163px;
            height: 245px;
            position: absolute;
            bottom: 0;
            left: 0;


            path {
                fill: rgba(255, 61, 0, 0.2);
                fill-opacity: 1;
                transition: fill 0.2s ease-in-out;
                margin-right: auto;
            }
        }



    }

}

.stages__swiper-slide.swiper-slide-active {

    .stages__card {
        color: #FFFFFF;

        &-img {
            opacity: 1;
        }

        &-number {
            path {
                fill: rgba(255, 255, 255, 0.6);
            }
        }
    }
}
