@media(min-width:768px) {
    #contentPage {
        background-color: #fff !important;
    }

    .gallery {
        .articles {
            &__swiper {
                &-slide {
                    width: 670px;
                    height: 387px !important;
                }

                &-wrapper {
                    width: 670px !important;
                }

                &-button {

                    &-next,
                    &-prev {
                        top: 87%;
                    }
                }
            }
        }
    }

    // advantages-768
    .advantages {
        &__description {
            font-size: 14px;
            max-width: 623px;
        }

        &__block {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            max-width: 768px;
            margin-left: auto;
            margin-right: auto;
        }

        &__img {
            width: 382px;
            height: 188px;
            overflow: hidden;

            &--wide {
                width: 777px;
                height: 361px;
            }
        }

        &__list {
            font-size: 18px;
            max-width: none;

            &-description {
                font-size: 16px;
            }

            li {
                margin-bottom: 70px;

                &::before {
                    width: 8px;
                    height: 8px;
                    // right: 25px;
                    left: -25px;
                }
            }
        }
    }

}

@media(min-width:1280px) {
    .gallery {
        .articles {
            &__swiper {
                &-slide {
                    width: 1165px;
                    height: 670px !important;
                }

                &-wrapper {
                    width: 1165px !important;
                }

                &-button {

                    &-next,
                    &-prev {
                        top: 92%;
                    }
                }
            }
        }
    }

    // advantages-1280
    .advantages {
        &__description {
            font-size: 14px;
            max-width: 807px;
            margin-left: 0;
        }

        &__block {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            max-width: 1280px;
            margin-left: auto;
            margin-right: auto;
        }

        &__img {

            width: 633px;
            height: 318px;

            &--wide {
                width: 1280px;
                height: 608px;
            }
        }

        &__title {
            margin-top: 260px;
        }
    }

}


@media(min-width:1920px) {
    .gallery {
        .articles {
            &__title {
                margin-bottom: 43px;
            }

            &__swiper {
                &-container {
                    margin-top: 0;
                }

                &-slide {
                    width: 1600px;
                    height: 918px !important;
                }

                &-wrapper {
                    width: 1600px !important;
                }

                &-button {

                    &-next,
                    &-prev {
                        top: 94%;
                    }
                }
            }
        }
    }

    // advantages-1920
    .advantages {
        &__description {
            font-size: 16px;
            max-width: 807px;
            margin-left: 0;
        }

        &__block {
            max-width: 1920px;
            margin-left: auto;
            margin-right: auto;
        }

        &__img {

            width: 953px;
            height: 462px;

            &--wide {
                width: 1920px;
                height: 890px;
            }
        }

        &__title {
            margin-top: 208px;
        }

        &__list {
            font-size: 20px;

            &-description {
                font-size: 16px;
            }
        }
    }

}
