section.chars.vacanciesChars
    .container.chars__container
        h2.chars__title.title Всегда открыты для:
        .chars__expand-button.title Дизайнер консультант
        .chars__expand 
           .vacancy
                p.vacancy__description.chars__info-description Хороший продавец всегда знает, как начать разговор и представить свой товар в лучшем свете. Он ведет клиента к сделке деликатно, но уверенно. Главный критерий его качественной работы – чувство удовлетворения у всех участников сделки.
                p.vacancy__description.chars__info-description Мы ищем и отбираем в свою команду только лучших. Если Вы уверены в своих силах, непременно оставляйте свой отклик!
                .vacancy__info
                    h3.vacancy__title.chars__info-title МЫ ждем от вас
                    ul.vacancy__list
                        li опыт работы в сфере продаж мебели;
                        li нацеленность на результат;
                        li готовность к постоянному обучению и развитию;
                        li лояльность и верность интересам компании.
                .vacancy__info
                    h3.vacancy__title.chars__info-title Мы предлагаем вам
                    ul.vacancy__list
                        li стабильную работу в надежной развивающейся компании;
                        li оформление по ТК РФ;
                        li конкурентоспособную заработную плату;
                        li карьерные возможности;
                        li скидки % на продукцию компании.    
                form.mainForm.vacancy__mainForm(action="#")
                    .mainForm__input-group
                        label(for="vacancy-user-name").mainForm__label.vacancy__label
                        input(type="text", name="user-name", id="vacancy-user-name").mainForm__input.vacancy__input


        .chars__line