section.vacanciesHero
  .status.vacanciesHero__status
        a(href="index.html").status-item Главная&ensp; 
        span >   
        span.status-item.status-item--active &ensp;Вакансии  

  .hero__container.container
    .hero__title.title Станьте частью одного из самых крупных производителей кухонь в России
    .hero__description Если Вы энергичны и целеустремлены, <span>хотите работать</span> в команде и добиваться выдающихся успехов в области розничной торговли кухонной мебелью, управления продажами, маркетинга и рекламы, мы будем рады видеть Вас в нашем дружном коллективе! 