section.unavalible
  .getProject__container
      h2.getProject__title.title Не нашли нужную вакансию?
      p.getProject__description Напишите, чем мы можем быть полезны друг другу, и прикрепите своё резюме. Возможно, мы просто не успели опубликовать подходящую вам вакансию. 
      form(action="#").mainForm.getProject__mainForm
          .mainForm__input-group.getProject__input-group
              label(for="unavalible-user-name").mainForm__label Ваше имя
              input(type="text", id="unavalible-user-name").mainForm__input.getProject__input
          .mainForm__input-group.getProject__input-group
              label(for="unavalible-user-surname").mainForm__label Ваша фамилия
              input(type="text", id="unavalible-user-surname").mainForm__input.getProject__input
          .mainForm__input-group.getProject__input-group
              label(for="unavalible-user-tel").mainForm__label Ваш телефон
              input(type="tel", id="unavalible-user-tel").mainForm__input.getProject__input 
          .mainForm__input-group.getProject__input-group
              label(for="unavalible-user-surname").mainForm__label Ваш комментарий
              input(type="text", id="unavalible-user-surname").mainForm__input.getProject__input   
          button.addFile.unavalible__addFile Прикрепите ваше резюме
          button.mainForm__button.button.button--dark.getProject__button Отправить
          p.policy.getProject__policy Отправляя контакты, вы соглашаетесь с <a href="#">политикой конфиденциальности</a>
  
section.benefits2
  .container.benefits__container
    .swiper-container.benefits__swiper-container
      .swiper-wrapper
        .swiper-slide.benefits__swiper-slide
          .benefits__card
            h3.benefits__card-title 100 салонов
            p.benefits__card-description 70 салонов в России и&nbsp;30&nbsp;в&nbsp;Казахстане,&nbsp;Украине и  Беларусь.
            a(href="#").benefits__card-link Адреса салонов
          .benefits__card
            h3.benefits__card-title Рассрочка 2 года
            p.benefits__card-description Удобная рассрочка оплаты на 2 года без процентов
            a(href="#").benefits__card-link 0 - 0 - 24
          .benefits__card
            h3.benefits__card-title Свое производство
            p.benefits__card-description Производство 60 тыс. м² в Зеленограде. 600 сотрудников и 69 тыс. заказов с 1991 г.
            a(href="#").benefits__card-link О производстве
          .benefits__card
            h3.benefits__card-title Гарантия 24 месяца
            p.benefits__card-description 2 года сервисного  обслуживания всего кухонного гарнитура KUCHENBERG 
            a(href="#").benefits__card-link Каталог 
            