.chars {
    background-color: #f4f4f4;

    &__line {
        width: 100%;
        height: 1px;
        background-color: #d3d3d3;
        margin-bottom: 20px;
        margin-top: -20px;
    }


    &__container {
        padding-top: 58px;
        // overflow: visible;
        // padding-right: 0;
        // max-width: 450px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 90px;
        // padding-left: 0;
        // padding-right: 0;
    }

    &__swiper {
        &-scrollbar {
            display: none !important;
        }
    }

    &__expand {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-in-out;
        margin-bottom: 30px;
        margin-right: -25px;
        padding-right: 25px;
        // border-bottom: 1px solid #d3d3d3;

        &:nth-last-child(1) {
            margin-bottom: 0;
        }

        &-button {
            cursor: pointer;
            font-size: 30px;
            display: flex;
            justify-content: space-between;
            margin-bottom: 18px;
            user-select: none;
            position: relative;
            align-items: baseline;

            &::after {
                content: '+';
                font-family: sans-serif;
                font-weight: 400;
                float: right;
                font-size: 25px;
                // display: inline-block;
                // position: absolute;
                // transform: rotate(0);
                transition: transform 0.1s ease-in-out;
                // transform-origin: center;
            }

            &--active {
                &::after {
                    // transform: ;
                    transform: rotate(45deg);
                }
            }
        }
    }

    &__info {
        margin-bottom: 57px;

        &-title {
            text-transform: uppercase;
            color: #292929;
            font-weight: 600;
            margin-bottom: 3px;

        }

        &-description {
            font-size: 12px;
            line-height: 140%;
            /* identical to box height, or 17px */
            letter-spacing: 0.035em;
            color: #4E4E4E;
            max-width: 233px;
        }
    }

    &-image {


        &__swiper {

            &-slide {
                width: 456px !important;
                height: 42px;
                background: url('../img/chars/shape.svg') no-repeat center / cover;
            }

            &-wrapper {
                padding-bottom: 50px;
            }

            &-container {
                padding-right: 25px;
                margin-bottom: 64px;
                margin-right: -25px;
            }


        }


    }



}

.chars-description {

    // padding-bottom: 29px;
    &__swiper-button {

        &-next,
        &-prev {
            display: none !important;
        }
    }


    .chars {
        &__info-description {
            max-width: 100%;
            margin-bottom: 30px;
        }
    }

    .articles__button {
        display: none;
    }

    .articles__swiper {
        &-container2 {
            margin-bottom: 29px;
            margin-right: -25px !important;
        }

        &-wrapper {
            padding-bottom: 21px !important;
        }

        // &-button {

        //     &-next,
        //     &-prev {
        //         display: none !important;
        //     }
        // }
    }
}

.chars-materials {

    &__card {
        margin-bottom: 42px;
    }

    .benefits__card-title {
        color: $color-red;
        margin-bottom: 10px;
    }
}

.chars-feedback {
    position: relative;


    &__swiper-scrollbar {
        bottom: 90px;
    }

    .feedback {
        &__swiper-container {
            margin-bottom: 62px;
            margin-right: -25px;
        }

        &__swiper-wrapper {
            padding-bottom: 50px !important;
        }

        &__card {
            background-color: #fff;
        }


        &__rating {
            display: none;
        }
    }

    &__block {
        display: flex;
        flex-direction: column;
        margin-right: 25px;


    }

    &__wrap {
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
    }

    .banner {
        &__title {
            margin-top: 17px;
            margin-bottom: 5px;
            width: auto;
            font-size: 20px;
        }

        &__card-quantity {
            margin-top: 0;
            text-align: left;
            font-size: 8px;
        }

        &__card-rate {
            font-size: 20px;

            &::after {
                width: 18.15px;
                height: 17.45px;
            }
        }
    }

    &__button {
        flex-basis: 100%;
        margin-bottom: 24px;
        margin-top: 39px;
        font-size: 14px;
    }
}

.chars {
    &__coll {
        display: flex;
        flex-direction: column;
        margin-right: 42px;
        margin-bottom: 30px;

        &-title {
            font-size: 12px;
            line-height: 120.3%;
            /* identical to box height, or 14px */

            letter-spacing: 0.105em;
            text-transform: uppercase;
            margin-bottom: 28px;
            color: #323232;
        }

        &-option {
            font-size: 12px;
            line-height: 140%;
            /* or 17px */
            margin-bottom: 13px;
            letter-spacing: 0.035em;
            height: 34px;
            color: #323232;
            max-width: 146px;
            display: flex;
            align-items: center;
        }

        &-tab {
            padding: 6px 7px;
            width: fit-content;

            &::after {
                content: '₽';
                display: inline-block;
                margin-left: 5px;
            }
        }
    }
}

.chars-calculator {
    .chars__info-description {
        margin-bottom: 34px;
    }

    &__swiper-container {
        margin-bottom: 50px;
    }

    &__swiper-slide {
        width: 800px !important;
        display: flex;
    }

    &__number {
        font-size: 20px;
        line-height: 116.3%;
        /* or 23px */
        letter-spacing: 0.105em;
        text-transform: uppercase;
        color: #000000;
        display: flex;
        align-items: baseline;
        margin-bottom: 31px;

        button {
            font-size: 30px;
        }
    }

    &__input {
        width: 56px;
        display: flex;
        justify-content: center;
        padding-left: 16px;
        padding-right: 16px;
    }


}

.rating-mini {
    display: inline-block;
    font-size: 0;
}

.rating-mini span {
    padding: 0;
    font-size: 20px;
    line-height: 1;
    color: lightgrey;
    margin-right: 4px;
}

.rating-mini>span:before {
    content: '★';
}

.rating-mini>span.star-active {
    color: #F8CD02;
}

.rating-number {
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    margin-right: 13px;
    margin-left: 24px;
    color: #141414;
}
