.others {
    background-color: #F4f4f4;

    &__container {
        padding-top: 80px;
        padding-right: 0 !important;
    }

    &__title {
        margin-bottom: 37px;
    }

    &__swiper {
        &-wrapper {
            width: 270px !important;
            padding-bottom: 228px;
        }

        &-slide {
            width: 270px !important;
            margin-right: 10px;
        }

        &-button {

            &-next,
            &-prev {
                top: 490px;
            }
        }
    }

    &__label {
        font-weight: 300;
        font-size: 36px;
        line-height: 117.3%;
        /* or 42px */
        font-family: 'Cormorant Garamond';
        letter-spacing: -0.025em;
        color: #141414;
        margin-bottom: 10px;
        display: block;
    }

    &__label2 {
        margin-bottom: 40px;
    }

    .articles__link {
        font-weight: 300;
        font-size: 36px;
        line-height: 93.3%;
        letter-spacing: -0.025em;
        width: 280px;
        padding: 0;
        margin-bottom: 40px;

        &-arrow {
            height: 100%;
            right: -10px;

            img {
                top: 3px;
            }
        }
    }

    &__social {
        margin-top: -50px;
        margin-bottom: 39px;
    }

    &__stats {
        font-size: 12px;
        line-height: 120.3%;
        /* identical to box height, or 14px */
        letter-spacing: 0.105em;
        text-transform: uppercase;
        color: #4F4F4F;
        margin-bottom: 60px;

        .stats-date {
            display: block;
            margin-bottom: 22px;
        }

        .stats-views {
            margin-right: 12px;
        }

    }
}
