@media (min-width: 768px) {
    .productHero {
        &__title {
            width: 611px;
        }

        &__button {
            padding: 23px;
            margin-bottom: 10px;
        }

        &__text {
            font-size: 14px;
        }

        &__info {
            flex-direction: row;
            justify-content: space-between;
            padding: 0 50px;
            align-items: baseline;
        }


    }

    .productBenefits {

        .container {
            padding-right: 0;
            padding-left: 0;
        }


        &__swiper {
            &-slide {
                flex-direction: row;
                width: 1050px !important;
                align-items: baseline;
                // justify-content: center;
                padding-left: 50px;
                // justify-content: center;
            }
        }

        &__text {
            font-size: 16px;
            margin-right: 47px;

            &:nth-last-child(1) {
                margin-right: 0;
            }
        }
    }

    // benefits2-768
    .productBenefits2 {
        background-color: #fff;

        .benefits {
            &__swiper-slide {
                max-width: none;
                width: 1300px !important;
            }

            &__card {
                height: 247px;

                &:nth-child(2) {
                    width: 465px;
                    padding-left: 90px;
                }

                &:nth-child(1) {
                    border: none;
                    width: 384px;
                    padding-left: 0;
                }

                &:nth-child(3) {
                    width: 346px;
                    padding-left: 62px;
                }

                &-title {
                    max-width: 330px;
                    margin-bottom: 26px;
                }

                &-description {
                    width: 284px !important;
                }
            }


        }
    }

    // chars-768
    .chars {
        background-color: #fff;

        &__swiper {
            &-slide {
                display: flex;
                width: 1500px !important;
            }

            &-scrollbar {
                display: block !important;
            }

            &-wrapper {
                padding-bottom: 29px;
            }

        }

        &__info {
            height: 63px;
        }

        &__block {
            margin-right: 60px;

            &:nth-child(3) {
                .chars__info {
                    &:nth-child(1) {
                        .chars__info-description {

                            max-width: none;
                        }
                    }
                }
            }
        }

        &__container {
            max-width: none;
        }

        &__expand {
            margin-right: -50px;

            &-button {
                font-size: 36px;

                &::after {
                    font-size: 30px;
                    font-weight: normal;
                }
            }
        }

        &__info {
            &-title {
                font-size: 16px;
            }

            &-description {
                font-size: 14px;
            }
        }

        &-image {
            &__swiper-scrollbar {
                display: none;
            }

            &__swiper-wrapper {
                padding-bottom: 14px;
            }
        }

    }

    .chars-materials {


        &__wrap {
            margin-bottom: 267px;
            // height: 100%;
            display: flex;

        }

        &__card {
            flex-basis: 42%;
            // max-width: 283px;
            margin-top: 37px;
            margin-right: 49px;
        }
    }

    .chars-feedback {
        &__wrap {
            margin-bottom: 50px;
        }


        .banner__card-rate {
            margin-right: 50%;
        }

        &__button {
            flex-basis: auto;
            width: auto;
            display: block;
            padding: 15px 51px;
            font-size: 16px;
            // flex-basis: 100%;
        }
    }

    // projects-768
    .projects {
        background-color: #fff;

        .bonuses {
            &__card {
                height: 100%;
                width: 100%;
            }

            &__swiper-slide {
                width: 673.06px !important;
                height: 386px !important;
                position: relative;
            }

            &__swiper-button {

                &-next,
                &-prev {
                    top: 450px;
                }
            }

            &__button {
                top: -116px;
            }
        }

        &__info {
            background: rgba(255, 255, 255, 0.85);
            position: absolute;
            top: 20px;
            left: 25px !important;
            z-index: 10;
            width: 365px;
            // height: 269px;
            padding-bottom: 16px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            // align-items: center;
            padding-left: 20px;
            padding-right: 20px;

            &-name {
                font-size: 16px;
                line-height: 120.3%;
                /* or 19px */
                // left: 25px !important;
                letter-spacing: 0.105em;
                width: 291px;
                margin-bottom: 21px;
            }

            &-description {
                background: #FFFFFF;
                padding: 19px 30px;
                width: 326px;
                font-size: 12px;
                line-height: 140%;
                /* or 17px */
                letter-spacing: 0.035em;
                color: #666666;


            }
        }

        &__stats {
            &-block {
                margin-right: 25px;
            }

            &-number {
                font-size: 30px;
                line-height: 37px;
            }

            &-label {
                font-size: 12px;
                line-height: 120.3%;
            }
        }
    }

    // questions-768
    .questions {
        background-color: #fff;

        &__title {
            margin-left: 50px;
            margin-bottom: 56px;
        }

        &__container {
            max-width: 768px;
            margin-left: auto;
            margin-right: auto;
        }

        &__leader {
            max-width: 768px;
            margin-left: auto;
            margin-right: auto;

            &-block {
                margin-left: 50px;
            }

            &-text {
                font-size: 14px;
            }

            &-name {
                font-size: 20px;
            }
        }

        &__expand {
            &-button {
                justify-content: space-between;
                // padding-right: 210px;
                margin-bottom: 59px;
                padding-bottom: 32px;

                &::after {
                    font-size: 30px;
                    float: right;
                }
            }

            &-text {
                width: 543px;
                margin-left: auto;
                margin-right: auto;
                margin-top: 13px;
            }
        }
    }

    // getProject-768
    .getProject {
        &__container {
            padding-top: 69px;
            padding-bottom: 52px;
        }

        &__title {
            width: 694px;

            span {
                display: inline-block;
            }
        }

        &__description {
            font-size: 14px;
            width: 602px;
            line-height: 140%;
            /* or 20px */
            text-align: center;
            letter-spacing: 0.035em;

            span {
                display: block;
            }
        }

        &__mainForm {
            padding-left: 50px;
            padding-right: 50px;
            padding-top: 58px;
            padding-bottom: 33px;
            max-width: 768px;
            margin-left: auto;
            margin-right: auto;
        }

        &__input {
            width: 100%;
            // padding-bottom: 6px;

            &-group {
                // display: inline-block;
                width: 100%;
                margin-bottom: 47px;
            }
        }

        &__policy {
            width: 257px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .getProject2 {
        &__container {
            max-width: 768px;
        }

        .mainForm {

            &__input {
                width: 324px;
            }
        }
    }

    // others-768
    .others {
        background-color: #fff;

        &__container {
            padding-left: 50px;
        }

        &__title {
            margin-bottom: 60px;
            max-width: 468px;
        }

        &__swiper {
            &-wrapper {
                width: 331px !important;
            }

            &-slide {
                width: 331px !important;
            }

            &-button {

                &-next,
                &-prev {
                    top: 560px;

                }

                &-next {
                    right: 45px;
                }

                &-prev {
                    left: auto !important;
                    right: 123px;
                }
            }
        }

        &__label {
            font-size: 55px;
            display: inline-block;
            margin-right: 5px;
        }

        .articles__link {
            font-size: 55px;
            width: 452px;
            display: inline-block;
            text-align: left;
            padding-left: 5px !important;
            padding-bottom: 10px !important;

            &-arrow {
                right: 15px;
            }

            img {
                width: 20px;
                height: 20px;
            }
        }

        &__social {
            margin-top: -85px;
        }

        &__stats {
            font-size: 16px;
            line-height: 120.3%;
            margin-bottom: 135px;

            .stats-date {
                display: inline-block;
                margin-right: 30px;
            }

            .stats-views {
                margin-right: 30px;
            }
        }

    }

    .benefits2 {
        background-color: #fff;
        padding-bottom: 89px;

        .benefits {


            &__card {
                height: 104px;
                margin-bottom: 93px;

                &-link {
                    bottom: -46px;
                }
            }
        }
    }

    // end-768

}

@media (min-width: 1024px) {
    .productBenefits {
        &__swiper {
            &-slide {
                width: 100% !important;
                padding-left: 0;
                justify-content: center;
            }
        }
    }
}

@media (min-width: 1280px) {


    // chars-1280
    .chars {
        &__line {
            margin-bottom: 35px;
        }

        &__block {
            margin-right: 0;
        }

        &__expand {
            margin-right: 0;
        }

        &__container {
            // padding-left: 64px;
            // padding-right: 55px;
            max-width: 1170px;
        }

        &__swiper-scrollbar {
            display: none !important;
        }

        &__swiper-wrapper {
            transform: translate3d(0px, 0, 0) !important;
        }

        &__swiper-slide {
            width: 100% !important;
            justify-content: space-between;
        }
    }

    .chars-description {
        .chars__info-description {
            max-width: 855px;
            margin-bottom: 42px;
            margin-top: 20px;
        }
    }

    .chars-materials {
        &__card {
            max-width: 390px;
            margin-right: 72px;
        }
    }

    .chars-feedback {
        &__wrap {
            justify-content: space-between;
        }

        .banner {
            &__title {
                font-size: 30px;
            }

            &__card {
                &-quantity {
                    font-size: 12px;
                }

                &-rate {
                    font-size: 30px;
                    margin-right: auto;

                    &::after {
                        width: 29.55px;
                        height: 28.07px;
                    }
                }
            }
        }
    }

    // benefits2-1280
    .benefits2 {
        .benefits__swiper-slide {
            width: 100% !important;
            flex-wrap: nowrap;
        }

        .benefits__card-link {
            bottom: -70px;
        }
    }

    .productBenefits2 {
        .benefits {
            &__swiper {
                &-wrapper {
                    transform: translate3d(0px, 0, 0) !important;

                }

                &-container {
                    overflow: visible;
                }
            }
        }
    }

    // hero-1280
    .productHero {
        &__title {
            top: 44px;
            width: 930px;
        }

        &__swiper-button-next {
            display: block;
            height: 70% !important;
            top: 100px;
            right: 0;
            width: 40% !important;
            border-radius: 0;
            cursor: none;
            // background-color: aqua;

            &::after {
                display: none !important;
            }
        }
    }

    .productBenefits {
        &__swiper {
            &-slide {
                align-items: center;
            }
        }

        &__text {
            font-size: 18px;
            margin-right: 72px;

            &--underline {
                display: flex;
                align-items: center;

                &::after,
                &::before {
                    content: '';
                    width: 1px;
                    position: absolute;
                    height: 35px;
                    background-color: #D9D9D9;
                }

                &::after {
                    left: -35px;
                }

                &::before {
                    right: -44px;
                }

            }
        }
    }

    // projects-1280
    .projects {
        .bonuses {
            &__container {
                max-width: none;
                padding-left: 57px;
            }

            &__swiper-slide {
                width: 1170px !important;
                height: 671px !important;
                position: relative;
            }

            &__swiper-button {

                &-next,
                &-prev {
                    top: 81%
                }

                &-next {
                    right: 54px;
                }

                &-prev {
                    right: 124px;
                }
            }

            &__button {
                top: -126px;
            }
        }

        &__info {
            background: rgba(255, 255, 255, 0.85);
            position: absolute;
            top: 27px;
            left: 32px;
            width: 454px;
            // height: 308px;
            padding-bottom: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            // align-items: center;
            padding-left: 28px;
            padding-right: 22px;

            &-name {
                font-size: 16px;
                line-height: 120.3%;
                /* or 19px */

                letter-spacing: 0.105em;
                width: 291px;
                margin-bottom: 21px;
            }

            &-description {
                background: #FFFFFF;
                padding: 20px;
                padding-bottom: 20px;
                padding-left: 29px;
                padding-right: 111px;
                width: 408px;
                font-size: 12px;
                line-height: 140%;
                /* or 17px */
                letter-spacing: 0.035em;
                color: #666666;


            }
        }

        &__stats {
            &-block {
                margin-right: 57px;

                &:nth-last-child(1) {
                    margin-right: 0 !important;
                }
            }

            &-number {
                font-size: 40px;
                line-height: 49px;
            }

            &-label {
                font-size: 14px;
                line-height: 120.3%;
            }
        }
    }

    // questions-1280
    .questions {
        display: flex;
        flex-wrap: wrap;
        max-width: 1280px;
        margin-left: auto;
        margin-right: auto;

        &__title {
            flex-basis: 100%;
        }

        &__container {
            max-width: 713px;
            margin-top: 70px;
        }

        &__leader {
            max-width: none;
            margin-left: 0;

            &-img {
                width: 469px;
                height: 647px;
            }
        }
    }

    // getProject-1280
    .getProject {
        &__container {
            background: url('../img/product/form-bg-lg.png') no-repeat center / cover;
            padding-top: 62px;
            padding-bottom: 57px;
        }

        &__title {
            width: 1106px;
            margin-bottom: 27px;
        }

        &__description {
            margin-bottom: 70px;
        }

        &__input {
            width: 100%;
            // margin-right: 26px;

            &-group {
                display: inline-flex;
                width: 33%;
            }
        }

        &__mainForm {
            max-width: 1400px;
            padding-top: 82px;
            padding-bottom: 37px;
            padding-left: 50px;
            padding-right: 50px;
            justify-content: space-between;
            display: flex;
            flex-wrap: wrap;
            align-items: baseline;
        }

        &__button {
            width: 358px;
            padding: 23px 0;
        }

        &__policy {
            // flex-basis: 100%;
            margin-right: 47px;
        }
    }

    .getProject2 {
        padding-bottom: 54px;

        &__container {
            max-width: 1280px;
            padding-left: 50px;
            padding-right: 50px;
        }

        .mainForm {
            &__input {
                width: 354px;
            }
        }

    }

    // others-1280
    .others {
        &__swiper {
            &-wrapper {
                width: 363px !important;
            }

            &-slide {
                width: 363px !important;
                margin-right: 34px;
            }
        }

        &__title {
            max-width: none;
        }

        &__label {
            font-size: 64px;
        }

        .articles__link {
            font-size: 64px;
            width: 534px;
            // padding-bottom: 0px !important;
        }

        &__social {
            z-index: 100;
            margin-top: -200px;
        }
    }

    // end-1280

}

@media (min-width: 1920px) {
    .productBenefits {
        &__text {
            font-size: 20px;
            margin-right: 168px;
        }
    }

    // hero-1920
    .productHero {
        &__swiper {
            &-slide {
                max-height: 1113px;
            }
        }

        &__info {
            padding: 0 150px;
        }

        &__img {
            width: 100%;
            height: 100%;

            img {
                min-width: 100%;
                min-height: 100%;
            }
        }

    }

    // chars-1920 
    .chars {
        &__container {
            max-width: 1624px;
        }

        &__expand {
            &-button {
                font-size: 60px;

                &::after {
                    font-size: 40px;
                }
            }

        }

        &__info {
            &-title {
                font-size: 20px;
            }

            &-description {
                font-size: 16px;
            }
        }

        &-image {
            &__swiper-slide {
                width: 808px !important;
                height: 73px;
            }
        }
    }

    .chars-description {
        &__swiper-button {

            &-next,
            &-prev {
                display: block !important;
            }
        }

        .chars__info-description {
            max-width: 1011px;
            margin-bottom: 58px;
            margin-top: 20px;
        }

        .articles__button {
            display: none;
        }

        .articles__swiper {
            &-wrapper {
                padding-bottom: 100px !important;
            }


        }
    }

    .chars-materials {
        &__wrap {
            margin-top: 80px;
        }

        &__card {
            max-width: 473px;
            margin-right: 161px;
        }
    }

    .chars-feedback {
        .feedback {
            &__swiper-wrapper {
                transform: translate3d(0, 0, 0) !important;
                flex-direction: column;
                width: 100% !important;
            }

            &__swiper-slide {
                width: 100% !important;
            }

            &__card {
                border: none;
                width: auto;
                max-width: 1067px;
                margin-bottom: 44px;

                &-text {
                    width: 771px;
                    height: auto;
                }

                &-bottom {
                    top: 7px;
                    right: 10px;
                    bottom: auto;
                }

                &-button {
                    display: none;
                }

                &-date {

                    margin: 0;
                    opacity: 1;
                    color: rgba(#171717, 0.5);
                }

                &-info {
                    display: flex;
                    flex-direction: column;
                }

                &-block {
                    margin-top: auto;
                    margin-bottom: 51px;
                }
            }

            &__user {
                margin-bottom: 37px;


            }

            &__rating {
                display: inline-block;
            }
        }
    }

    // projects-1920
    .projects {
        .bonuses {
            &__container {
                padding-left: 151px;
            }

            &__swiper-slide {
                width: 1597px !important;
                height: 914px !important;
                margin-right: 50px;
            }

            &__swiper-button {

                &-next,
                &-prev {
                    top: 90%;
                }

                &-next {
                    right: 150px;
                }

                &-prev {
                    right: 220px;
                }
            }

            &__swiper-wrapper {
                width: 1597px !important;
            }

            &__button {
                display: block;
                padding: 23px 47px;
                width: fit-content;
                top: -77px;
            }
        }

        &__info {
            justify-content: start;
            padding-top: 42px;
            top: 58px;
            left: 50px;
            width: 483px;
            // height: 375px;
            padding-bottom: 36px;

            &-name {
                margin-bottom: 21px;
            }

            &-description {
                margin-top: 33px;
                width: 418px;
                font-size: 14px;
                padding-top: 30px;
                padding-bottom: 30px;
            }
        }
    }

    // questions-1920
    .questions {
        max-width: 1920px;

        &__container {
            max-width: 1028px;
            // padding-right: 165px;
            padding-right: 0;
            margin-right: 165px;
        }

        &__title {
            margin-left: 150px;
        }

        &__leader {
            &-img {
                width: 622px;
                height: 647px;
            }
        }

        &__expand {
            &-button {
                padding-right: 100px;
                font-size: 20px;

                &::after {
                    font-size: 40px;
                    left: 75px;
                }
            }

            &-text {
                font-size: 16px;
                width: 736px;
                margin-left: 40px;
                margin-bottom: 88px;
            }
        }
    }

    // getProject-1920
    .getProject {
        // padding-bottom: 104px;

        &__mainForm {
            max-width: 1599px;
            padding-left: 85px;
            padding-right: 85px;
            padding-top: 88px;
            padding-bottom: 58px;
        }

        &__input {
            width: 458px;

            // padding-bottom: 23px !important;
            &-group {
                margin-bottom: 16px;

            }
        }

        &__button {
            width: 431px;
            margin-bottom: 16px;
        }

        &__policy {
            font-size: 14px;
            width: 431px;
            margin-right: 0;
        }
    }

    .getProject2 {
        padding-bottom: 104px;

        &__container {
            max-width: 1600px;
            padding-left: 80px;
            padding-right: 80px;
        }

        .mainForm {
            &__input {
                width: 458px;
            }
        }
    }

    // others-1920
    .others {
        &__swiper {
            &-wrapper {
                width: 490px !important;
            }

            &-slide {
                width: 490px !important;
            }

            &-button {

                &-next,
                &-prev {
                    top: 740px;
                }

                &-next {
                    right: 155px;
                }

                &-prev {
                    right: 260px;
                }
            }
        }

        &__stats {
            font-size: 18px;
        }
    }

    // end-1920


}
