.region {
    &__container {
        padding-top: 43px;
        background-color: #fff;
        padding-bottom: 55px;
    }

    &__container2 {
        padding-top: 19px;
        background-color: #f4f4f4;
        padding-bottom: 43px;
    }

    &__label {
        font-size: 14px;
        line-height: 120.3%;
        /* identical to box height, or 17px */
        letter-spacing: 0.105em;
        text-transform: uppercase;
        color: #000000;
        // margin-bottom: 24px;
        display: block;

    }

    &__label2 {
        margin-bottom: 22px;

    }

    &__block {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__select {
        font-size: 18px;
        line-height: 118.49%;
        /* or 21px */
        letter-spacing: 0.035em;
        color: #292929;
        margin-bottom: 58px;

        &-selected {
            user-select: none;
            z-index: 20;
            padding-bottom: 25px;
            padding-top: 25px;
            border-bottom: 1px solid #292929;
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            padding-left: 10px;

            &::after {
                content: '';
                width: 12px;
                height: 6px;
                display: inline-block;
                background: url('../img/expand-arrow.svg') no-repeat center / cover;
                transition: transform 0.2s ease-in-out;
            }
        }

        &-block {
            position: absolute;
            background-color: #fff;
            width: 100%;
            z-index: 5;
            top: 100%;
            // padding: 25px;
            z-index: 500;
            max-height: 0;
            overflow: scroll;
            transition: max-height 0.2s ease-in-out;
            padding-left: 10px;

        }

        &-option {
            margin-top: 10px;
            margin-bottom: 20px;
            cursor: pointer;
        }

        &--active {
            .region__select-selected {
                &::after {
                    transform: rotate(180deg);
                }
            }
        }
    }

    &__contacts {
        margin-top: 22px;

        &-link {
            display: block;
            font-size: 35px;
            line-height: 43px;
            /* identical to box height */
            color: #323232;
            border-bottom: 1px dashed #AEAEAE;
            // min-width: 276px;
            letter-spacing: -0.015em;
            margin-bottom: 21px;
        }
    }

    &__title {
        margin-bottom: 34px;
    }

    &__label2 {
        font-size: 12px;
        margin-left: 12px;
    }

    &__select2 {
        width: 100%;
        font-size: 16px;
        line-height: 118.49%;
        /* identical to box height, or 19px */
        letter-spacing: 0.035em;
        color: #292929;
        margin-bottom: 34px;

        &-selected {
            z-index: 20;
            padding-bottom: 15px;
            padding-top: 5px;
            border-bottom: 1px solid #292929;
            display: flex;
            align-items: center;
            cursor: pointer;
            user-select: none;


            &::before {
                content: '';
                width: 5px;
                height: 5px;
                background-color: $color-red;
                display: inline-block;
                margin-right: 15px;
            }

            &::after {
                content: '';
                width: 12px;
                height: 6px;
                margin-left: auto;
                display: inline-block;
                background: url('../img/expand-arrow.svg') no-repeat center / cover;
                transition: max-height 0.2s ease-in-out;
            }
        }

        &--active {
            .region__select2-selected {
                &::after {
                    transform: rotate(180deg);
                }
            }
        }

        &-option {
            margin-top: 10px;
            margin-bottom: 20px;
            cursor: pointer;
        }
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;

        &::after {
            content: '+';
            transform: rotate(45deg);
            display: inline-block;
            font-size: 25px;
            font-family: serif;
            margin-left: 10px;
            font-weight: 500;
            top: 1px;
        }
    }
}
