section.servicesCards
  .servicesCard
    .servicesCard__wrap
      h3.title.servicesCard__title Личный <span>3D-проект</span>  вашей будущей кухни
      p.servicesCard__description В результате знакомства с помещением и вашими пожеланиями, дизайнер подготовит 3D-проект, наглядно представляющий то, как будет выглядеть Ваша будущая кухня. 
  .servicesCard
    .servicesCard__wrap
      h3.title.servicesCard__title  Подбор индивидуального дизайна
      p.servicesCard__description Дизайнер на месте подробно проконсультирует по выбору материалов, фактур и цветов. Приедем уже с образцами фасадов и раскладкой цветов Color System (это возможные цвета лака на бумажном носителе, 200 вариантов);
  .servicesCard
    .servicesCard__wrap
      h3.title.servicesCard__title Экономия на&nbsp;конечной стоимости кухни
      p.servicesCard__description Большинство новосёлов переплачивают на неграмотном выборе материалов или отсуствии эргономики при планировании кухни. Благодаря работе наших специалистов, Вы получите оптимальную комплектацию мебели, не переплачивая на ненужных опциях. 