.status.servicesLeader__status
  a(href="index.html").status-item Главная&ensp; 
  span >   
  span.status-item.status-item--active &ensp;Услуги
section.servicesLeader

  .container.servicesLeader__container
    h2.title.servicesLeader__title Вызов дизайнера на&nbsp;дом — бесплатно
    p.servicesLeader__description Наш дизайнер на месте оценит обстановку и даст рекомендации по выбору модели кухни, по эргономике и рациональному использованию пространства, применению определенных материалов, фурнитуры, цветов и оттенков. Просто назначайте удобное время и делитесь идеями. 
    button.button.button--primary.servicesLeader__button Вызвать дизайнера бесплатно

  .servicesLeader__img
    picture
      source(media="(min-width: 1280px)", srcset="assets/img/services/girl-xl.webp", type="image/webp")
      source(media="(min-width: 1280px)", srcset="assets/img/services/girl-xl.jpg", type="image/jpg")
      source(media="(min-width: 320px)", srcset="assets/img/services/girl-md.webp", type="image/webp")
      source(media="(min-width: 320px)", srcset="assets/img/services/girl-md.jpg", type="image/jpg")
      img(src="assets/img/services/girl-xl.webp", alt="Leader-photo")
