block config

doctype html
html(lang="ru", class="no-js")
    head
        block head
            include _includes/head
    body.body
        include _includes/mixins/svgsprite
        
        block header
            include _includes/blocks/header

        .content#contacts
            block content
                block hero
                    include _includes/blocks/contacts/hero

                block region
                    include _includes/blocks/contacts/region

                block location
                    include _includes/blocks/contacts/location

                block benefits2
                    include _includes/blocks/product/benefits2
              

        
        block footer
            include _includes/blocks/footer
        
        // include popups here
        block modal
            include _includes/blocks/modal

        block styles
          <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="crossorigin=""/>
          link(rel='stylesheet', href='assets/css/contacts.css?v=' + PACKAGE.version)
        block scripts-config
            script.
                /* изменяемые настройки скриптов, указаны значения по умолчанию */
                var map = {
                   central: {
                    //- точка относительно которой центрируеться мапа
                        id: 'centralMap',
                        centerX: 55.729645,
                        centerY: 37.587495,
                    //- 1-15 зум
                        zoom: 15, 
                    //- точка маркера
                        markerX: 55.729645,
                        markerY: 37.587495,
                        adress: 'Москва, Комсомольский пр-т, д. 17.',
                        phone: '8 (495) 135 43 78',
                    //- формат для a(href="")
                        phoneLink: '+84951354378',
                        email: 'info@kuhnicity.ru.', 
                        label: 'фрузенская'

                   },
                   krasnodar: {
                         //- точка относительно которой центрируеться мапа
                        id: 'krasnodarMap',
                        centerX: 55.729645,
                        centerY: 37.587495,
                    //- 1-15 зум
                        zoom: 15, 
                    //- точка маркера
                        markerX: 55.729645,
                        markerY: 37.587495,
                        adress: 'Москва, Комсомольский пр-т, д. 17.',
                        phone: '8 (495) 135 43 78',
                    //- формат для a(href="")
                        phoneLink: '+84951354378',
                        email: 'info@kuhnicity.ru.', 
                        label: 'фрузенская'
                   },
                    kazan: {
                         //- точка относительно которой центрируеться мапа
                        id: 'kazanMap',
                        centerX: 55.729645,
                        centerY: 37.587495,
                    //- 1-15 зум
                        zoom: 15, 
                    //- точка маркера
                        markerX: 55.729645,
                        markerY: 37.587495,
                        adress: 'Москва, Комсомольский пр-т, д. 17.',
                        phone: '8 (495) 135 43 78',
                    //- формат для a(href="")
                        phoneLink: '+84951354378',
                        email: 'info@kuhnicity.ru.', 
                        label: 'фрузенская'
                   }
                }
        block scripts
            script(src='assets/js/vendors~main.bundle.js')
            script(src='assets/js/main.bundle.js?v=' + PACKAGE.version)
            <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>