extends _includes/layout

block config
    - var pagetitle = 'Кухнисити'

block content
    block hero
     include _includes/blocks/hero

    block benefits
       include _includes/blocks/benefits

    block discounts
       include _includes/blocks/discounts

    block production
       include _includes/blocks/production

    block models
       include _includes/blocks/models