extends _includes/layout

block config
  - var pagetitle = 'Кухнисити'

block content
  block hero
    include _includes/blocks/hero

  block benefits
    include _includes/blocks/benefits

  block discounts
    include _includes/blocks/discounts

  block production
    include _includes/blocks/production

  block models
    include _includes/blocks/models

  block stages
    include _includes/blocks/stages

  block feedback
    include _includes/blocks/feedback

  block social
    include _includes/blocks/social

  block articles
    include _includes/blocks/articles 

  block leader
    include _includes/blocks/leader 

  block bonuses
    include _includes/blocks/bonuses

  block contactUs
    include _includes/blocks/contactUs