block config

doctype html
html(lang="ru", class="no-js")
    head
        block head
            include _includes/head
    body.body
        include _includes/mixins/svgsprite
        
        block header
            include _includes/blocks/header

        .content#news
            block content
                block hero
                    include _includes/blocks/news/hero

                block cards
                    include _includes/blocks/news/cards

                block projects
                    include _includes/blocks/news/projects

                block cards2
                    include _includes/blocks/news/cards2
              
               
               
               
        
        block footer
            include _includes/blocks/footer
        
        // include popups here
        block modal
            include _includes/blocks/modal

        block styles
          link(rel='stylesheet', href='assets/css/news.css?v=' + PACKAGE.version)
        block scripts-config
            script.
                /* изменяемые настройки скриптов, указаны значения по умолчанию */
                var appConfig = {
                    /*
                    scrollToOffset: 150, // оффсет при скролле до элемента
                    scrollToSpeed: 500, // скорость скролла 
                    */
                }
        block scripts
            script(src='assets/js/vendors~main.bundle.js')
            script(src='assets/js/main.bundle.js?v=' + PACKAGE.version)
            <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>