.catalogLeader {
    padding-top: 7px;
    padding-bottom: 69px;
    // margin-top: 84px;
    background-color: #ffffff;

    .leader {

        &__container {
            padding-right: 21px;
            padding-left: 17px;
        }

        &__info {
            margin-bottom: 74px;
        }

        &__info-img {
            height: 225px;
            width: 320px;
            margin-left: auto;
            margin-left: -24px;
        }

        &__text {
            position: relative;
            width: 263px;
            margin-left: 15px;
            margin-bottom: 64px;

            &::after {
                content: '';
                height: 62px;
                width: 54px;
                position: absolute;
                left: -20px;
                top: -27px;
                background: url('../img/catalogLeader/text-decoration.svg') no-repeat center / cover;
            }

            &::before {
                content: '';
                height: 62px;
                width: 54px;
                position: absolute;
                right: 6px;
                bottom: -18px;
                transform: rotate(180deg);
                background: url('../img/catalogLeader/text-decoration.svg') no-repeat center / cover;
            }
        }

        &__button2 {
            display: block;
            margin-top: 48px;
        }
    }
}

// #catalog {
//     .leader {
//         // margin-top: 50px;
//     }

// }

.catalogModels {
    background-color: #F4F4F4;
}

#catalog {
    .stages {
        padding-top: 76px;

        &__swiper {
            &-button {

                &-next,
                &-prev {
                    display: none;
                }
            }

            &-wrapper {
                padding-bottom: 61px !important;
            }
        }
    }

    .feedback {
        padding-bottom: 0;
    }

    .benefits__container {
        padding-top: 70px;
    }

}
