@media(min-width: 768px) {
    #catalog {
        .stages {
            padding-top: 116px;

            &__swiper {
                &-wrapper {
                    padding-bottom: 3px !important;
                }
            }
        }

        .benefits {
            margin-bottom: 75px;
        }
    }

    .catalogModels {
        background-color: #fff;
    }

    // leader-768
    .catalogLeader {
        background-color: #fff;
        margin-top: 84px;

        .leader {

            &__info {
                margin-bottom: 87px;

                &-name {
                    letter-spacing: 0.07em;
                    margin-right: -30px;
                    margin-top: 15px;
                }

                &-job {
                    margin-right: -19px;
                }
            }

            &__container {
                padding-right: 0;
                padding-left: 51px;
                padding-bottom: 157px;
            }

            &__info-img {
                width: 334px;
                height: 350px;
                // margin-left: auto;
                margin-left: -24px;
            }

            &__button2 {
                position: absolute;
                width: 669px;
                bottom: -54px;
                padding: 23px 0;
                letter-spacing: 0.105em;
            }

            &__text {
                width: 300px;
                margin-left: 27px;
                margin-bottom: 64px;
                margin-top: 17px;

                &::after,
                &::before {
                    width: 73px;
                    height: 84px;
                }

                &::after {
                    left: -20px;
                    top: -44px;
                }

                &::before {
                    right: -7px;
                    bottom: -34px;
                }
            }


        }
    }

    // filter-768

    .filter {
        background-color: #fff;

        &__title {
            margin-bottom: 53px;
        }

        &__container {
            max-width: 768px;
            margin-left: auto;
            margin-right: auto;
        }

        &__button {
            display: none;
        }

        &__menu {
            display: flex !important;
            position: static;
            top: 0;
            padding: 0;
            flex-wrap: wrap;
            // flex-direction: row;
        }

        &__range {
            order: 2;
            padding: 14px 18px;
            position: relative;
        }

        &__expand {
            &-list {
                position: absolute;
                background-color: #fff;
                z-index: 501;
                padding-left: 0;
                width: 100%;
                align-items: center;
            }

            &-range {
                position: absolute;
                width: 120%;
                padding-left: 20px;
                top: 40px;
                left: 50%;
                transform: translateX(-51%);
                z-index: 50;
                background-color: #fff;
            }

            &-button {
                display: inline-block;
                width: auto;
                padding-left: 16px;
                padding-right: 15px;
                position: relative;

                // margin-left: -10px;
                &:nth-child(1) {
                    margin-left: -20px;
                }

                &::after {
                    margin-left: 8px;
                }
            }

            &-block {
                flex-basis: 100%;
                margin-top: 23px;
                display: flex;
                align-items: baseline;
                justify-content: space-between;
                padding-bottom: 19px;
                padding-top: 21px;

            }

            &-confirm {
                display: none;
            }
        }

        &__tabs {
            margin-top: 0;

        }
    }

    .tabs {
        justify-content: flex-start;
        align-items: baseline;
        flex-wrap: wrap;
        max-height: 57px;
        overflow: hidden;
        transition: max-height 0.2s ease-in-out;

        &__button {
            flex-basis: auto;
            padding: 17px 22px;
            margin-right: 11px;
            margin-bottom: 12px;

            &:nth-child(1) {
                padding: 17px 28px;
            }
        }

        &__more {
            flex-basis: auto;
            width: auto;
            padding: 18px 26px;
            margin-right: 10px;
        }

        &__cancel {
            width: auto;
            padding: 16px 20px;
            margin-top: 0;

        }
    }

    .hidden-768 {
        display: none !important;
    }

    .visible-768 {
        display: block;
    }

    // end-768
}

@media(min-width: 1280px) {

    #catalog {
        .stages {
            padding-top: 64px;
        }

        .feedback {
            padding-top: 102px;
        }

        .benefits {
            margin-bottom: 51px;
        }

        .benefits__container {
            padding-top: 133px;
        }
    }

    // models-1280
    .catalogModels {
        .card__hover-block {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .card__hover-button {
            color: #323232;
            border: 1px solid #323232;
            background: transparent;
            width: auto;
            padding: 22px 57px;
        }
    }

    // leader-1280
    .catalogLeader {
        background-color: #fff;
        margin-top: 46px;

        .leader {

            &__container {
                padding-bottom: 0px;
            }

            &__info {
                margin-bottom: 87px;

                &-name {
                    margin-top: 36px;
                }
            }

            &__text {
                width: 518px;

                margin-left: 64px;
                margin-top: 52px;

                &::after,
                &::before {
                    width: 73px;
                    height: 84px;
                }

                &::before {
                    right: -47px;
                    bottom: -90px;
                }

                &::after {
                    left: -59px;
                }
            }

            &__info-img {
                min-width: 465px !important;
                height: 487px !important;

                right: 47px;

                // img {
                //     min-width: 465px !important;
                //     height: 487px !important;
                // }
            }

            &__button2 {
                position: absolute;
                width: auto;
                bottom: 0px;
                font-size: 20px;
                line-height: 120.3%;
                padding-left: 37px;
                padding-right: 37px;
                bottom: 202px;
            }

        }
    }

    // filter-1280
    .filter {
        &__container {
            max-width: 1280px;
            padding-left: 60px;
            padding-right: 60px;
            padding-top: 44px;
        }

        &__title {
            margin-bottom: 42px;
        }

        &__menu {
            border-bottom: 1px solid #F0F0F0;
            // padding-bottom: 37px;
            margin-bottom: 112px;
            align-items: baseline;
            padding-bottom: 37px;
            justify-content: space-between;
            padding-bottom: 24px;
        }

        &__expand {

            &-block {
                // justify-content: flex-start;
                padding-left: 24px;
                flex-basis: 42%;
                padding-top: 0;
                max-height: 42px;
                border-top: 0 solid #000;

                &::before {
                    content: '';
                    height: 42px;
                    width: 1px;
                    background-color: #F0F0F0;
                    display: inline-block;
                    align-self: flex-start;
                }
            }

            &-button {
                margin-left: -12px;
            }

            &-price {
                display: none;
            }

            &-type {
                left: 28px;
            }

            &-range {
                display: block !important;
                width: 300px;
                left: -920px;
                top: 58px;
                background-color: transparent;

                &::before {
                    content: 'Цена';

                    font-size: 12px;
                    line-height: 15px;
                    /* identical to box height */
                    letter-spacing: 0.135em;
                    text-transform: uppercase;
                    color: #151515;
                    display: inline-block;
                    top: 41px;
                    right: 73px;
                    font-family: 'Averta';
                }

                // position: static;
            }
        }
    }

    .tabs {
        // z-index: 400;
        overflow: visible;
        max-height: none;

        &__cancel2 {
            display: block;
            position: absolute;
            // top: -100%;
            top: -93px;
            right: 0;
            padding: 15px 26px;
        }

        &__button {
            margin-right: 8px;
        }

    }

    .hidden-1280 {
        display: none;
    }
}

@media(min-width: 1920px) {
    #catalog {
        .benefits {
            margin-bottom: 103px;

            &__container {
                padding-top: 172px;
            }
        }
    }

    // models-1920
    .catalogModels {
        .card--wide {
            width: 1045.42px;

            .card__img {
                width: 1045.42px !important;

                img {
                    width: 1045.42px !important;
                }
            }
        }
    }

    // leader-1920
    .catalogLeader {
        margin-top: 111px;

        .leader {

            &__info {
                margin-bottom: 87px;

                &-name {
                    margin-top: -16px;
                }
            }

            &__info-img {
                min-width: 715px !important;
                height: 654px !important;

                right: 194px;

                // img {
                //     min-width: 465px !important;
                //     height: 487px !important;
                // }
            }

            &__button2 {
                position: absolute;
                bottom: 214px;
                margin-left: 110px;
            }

            &__text {
                width: 518px;
                margin-top: 101px;
                margin-left: 150px;

                &::before,
                &::after {
                    width: 94px;
                    height: 108px;
                }

                &::after {
                    left: -42px;
                    top: -89px;
                }

                &::before {

                    right: -23px;
                    bottom: -81px;
                }

            }

            // &__button2 {
            //     bottom: 185px;
            //     width: 438px;
            // }
        }
    }

    // filter-1920
    .filter {
        &__status {
            font-size: 14px;
            margin-bottom: 50px;
        }

        &__title {
            margin-bottom: 50px;
        }

        &__menu {
            border-bottom: 0px solid #000;
            // padding-left: 20px;
            margin-bottom: 122px;
            justify-content: flex-start;
        }

        &__container {
            max-width: 1610px;
            padding-left: 0;
            padding-right: 0;
            padding-top: 28px;
        }

        &__expand-block {
            padding-left: 10px;
            margin-left: 0px;
            justify-content: flex-start;

            &::before {
                margin-right: 19px;
            }
        }

        &__expand {
            &-type {
                margin-left: 5px;
            }

            &-label {
                margin-right: 43px;
            }

            &-range {
                left: 239px;
                top: -30px;

                &::before {
                    right: 53px;
                }
            }

            &-list {
                width: 150px;
                align-items: flex-start;
                padding-left: 20px;
                padding-right: 20px;
                left: -4px;
            }

            &-button {
                margin-right: 16px;

                &:nth-child(1) {
                    margin-left: 0;
                }
            }

            &-item--active {
                display: flex;
                justify-content: space-between;
                width: 100%;

                &::after {
                    content: url('../img/filter/item-checked.svg');

                }
            }
        }
    }

    .tabs {
        margin-top: -103px;

        &__button {
            margin-right: 20px;
        }

        &__cancel2 {
            background-color: $color-red;
            width: 47px;
            height: 47px;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            top: -91px;

            span {
                display: none;
            }

            &::after {
                width: 10px;
                height: 10px;
                background: url('../img/filter/cancel-xl.svg') no-repeat center / cover;
                margin-left: 0;
            }
        }
    }

}
