section.vacanciesHero.questionsHero
  .status.vacanciesHero__status
        a(href="index.html").status-item Главная&ensp; 
        span >   
        span.status-item.status-item--active &ensp;Статьи 

  .hero__container.container
    .hero__title.title Полезная информация от&nbsp;команды КухниСити
    .hero__block 
      .hero__tab Как?
      .hero__tab Большие кухни
      .hero__tab Интерьеры
      .hero__tab Лайфаки
      .hero__tab Маленькие кухни