section.contactsHero
  .status.contactsHero__status
        a(href="index.html").status-item Главная&ensp; 
        span >   
        span.status-item.status-item--active &ensp;Контакты

  .contactsHero__container
    .title.contactsHero__title Контакты
    p.description.contactsHero__description Мы на связи ежедневно любым удобным для вас способом. Модели вживую можно увидеть в одном из 67 официальных салонов по всей России. А за новостями и акциями подписаться — в наши соцсети.
    
  