section.location
  .location__container
    .salon
      h3.salon__title Центральный салон 
      p.salon__subtitle Фото салона
      .salon__wrap
        .swiper-container.salon__swiper-container
          .swiper-wrapper.salon__swiper-wrapper
            .swiper-slide.salon__swiper-slide
              .salon__photo
                img(src="assets/img/contacts/salon1.jpg", alt="salon-photo")
            .swiper-slide.salon__swiper-slide
              .salon__photo
                img(src="assets/img/contacts/salon2.jpg", alt="salon-photo")
            .swiper-slide.salon__swiper-slide
              .salon__photo
                img(src="assets/img/contacts/salon3.jpg", alt="salon-photo")
            .swiper-slide.salon__swiper-slide
              .salon__photo
                img(src="assets/img/contacts/salon1.jpg", alt="salon-photo")
            .swiper-slide.salon__swiper-slide
              .salon__photo
                img(src="assets/img/contacts/salon2.jpg", alt="salon-photo")
            .swiper-slide.salon__swiper-slide
              .salon__photo
                img(src="assets/img/contacts/salon3.jpg", alt="salon-photo")

        .swiper-button-prev.salon__swiper-button-prev
        .swiper-button-next.salon__swiper-button-next

    .map#centralMap