section.region
  .container.region__container
    .region__wrap
      .region__select
        span.region__label Выберите регион
        .region__select-selected Москва и МО
        .region__select-block
          .region__select-option Пункт2
          .region__select-option Пункт3
          .region__select-option Пункт4
      
      .region__block
        span.region__label Центр поддержки клиентов
        .region__contacts
          a(href="tel:+84951354378").region__contacts-link 8 (495) 135-43-78
          a(href="mailto:info@kuhnicity.ru").region__contacts-link info@kuhnicity.ru

  .region__container2.container
    .region__title.title 23 фирменных салона в Москве
    .region__block 
      .region__select2
        span.region__label2 Метро
        .region__select2-selected ст. Васильевская
        .region__select-block.region__select2-block
          .region__select2-option Пункт2
          .region__select2-option Пункт4
          .region__select2-option Пункт5
          .region__select2-option Пункт6
          .region__select2-option Пункт7
          .region__select2-option Пункт8
          .region__select2-option Пункт9
          .region__select2-option Пункт10
      button.region__button.button.button--bordered Открыто сейчас
