@media(min-width:768px) {
    #news {
        background-color: #FFFFFF !important;

        .articles {
            display: none;
        }

        .projects__info-name {
            font-size: 25px !important;
            text-transform: none;
            line-height: 31px;
            letter-spacing: normal;
        }

        .projects__info {
            padding-top: 38px !important;
            padding-bottom: 38px !important;
            width: 503px !important;
        }
    }

    .newsCards {
        .articles {
            &__card {
                width: 672px;
                height: 313px;

                &--full {
                    height: 645px;
                }

                &-img {
                    img {
                        min-width: 100%;
                    }
                }
            }
        }
    }

    .newsCards2 {
        display: block;

    }

    // .news__swiper-slide {
    //     margin-right: 10px;
    // }

    .news__swiper-container {
        padding-bottom: 110px;

    }

    .news__container {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-right: 0;
    }

    .news__swiper-slide {
        width: 672px !important;
    }

    .news__swiper-wrapper {
        width: 672px !important;
    }

    // .news__swiper-slide 

    .news__swiper-button {

        &-next,
        &-prev {
            top: 96% !important;

        }

        // &-next {
        //     right: 0px !important;
        // }

        // &-prev {
        //     right: 70px !important;
        //     left: auto !important;
        // }
    }

    .newsProjects2 {
        &__wrap {
            width: 768px !important;
            height: 675px !important;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .newsLeader {
        margin-top: -222px !important;
    }


}


@media(min-width:1280px) {
    #news {
        .projects__info {
            padding-top: 42px !important;
            padding-bottom: 33px !important;
            width: 503px !important;

            &-name {
                width: 396px !important;
            }
        }
    }

    .news {
        &__swiper {
            &-slide {
                width: 1170px !important;
            }

            &-wrapper {
                width: 1170px !important;
            }
        }
    }

    .news__swiper-button {

        &-next,
        &-prev {
            top: 95% !important;

        }

    }

    .newsCards {


        &__block {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            &:nth-child(2) {
                display: flex;
                // flex-wrap: wrap-reverse;
                flex-direction: row-reverse;
            }
        }

        .articles {
            &__card {
                margin-left: 0;
                margin-right: 0;
                width: 572px;
                height: 313px;

                &--full {
                    height: 645px;
                }

            }
        }
    }





    .newsProjects2 {
        &__wrap {
            width: 1295px !important;
            height: 672px !important;
        }
    }


}

@media(min-width:1920px) {
    #news {
        .projects__info {
            left: 68px;
            padding-top: 38px !important;
            padding-bottom: 33px !important;
            width: 487px !important;

            &-name {
                width: 396px !important;
            }
        }

        .leader__container {
            max-width: 1920px !important;
            margin-left: auto !important;
            margin-right: auto !important;
        }
    }



    .news__swiper {
        &-slide {
            width: 1620px !important;
        }

        &-wrapper {
            width: 1620px !important;
        }

        &-button {

            &-prev,
            &-next {
                top: 94% !important;
            }
        }
    }

    .newsCards {
        &__block {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
        }

        .articles {
            &__card {
                width: 525px;
                height: 329px;

                &--full {
                    width: 1057px;
                    height: 672px;
                }
            }
        }
    }

    .newsProjects2 {
        &__wrap {

            width: 1936px !important;
            height: 904px !important;
        }
    }
}
