@media(min-width: 768px) {

    // hero
    .vacanciesHero {
        .hero {
            &__title {
                width: 710px;
            }

            &__description {
                width: 625px;
                font-size: 14px;
                line-height: 140%;

                span {
                    display: inline-block;
                }
            }
        }
    }

    .vacanciesChars {
        .chars {
            &__container {
                max-width: 920px;
                margin-left: auto;
                margin-right: auto;
            }

            &__info {
                &-description {
                    max-width: 669px;

                    &:nth-child(1) {
                        margin-top: 40px;
                    }

                }
            }
        }
    }

    .vacancy {
        &__list {
            font-size: 14px;
        }

        &__mainForm {
            justify-content: space-between;
            display: flex;
            flex-wrap: wrap;
        }

        &__input {
            width: 100%;
        }

        &__input-group {
            flex-basis: 49%;

        }


    }

    .unavalible {
        .getProject {
            &__container {
                padding-top: 76px;
            }

            &__description {
                width: 505px;
                margin-bottom: 54px;
            }

            &__mainForm {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }

            &__input-group {
                flex-basis: 48%;
            }

            &__policy {
                width: 100%;
            }

        }
    }
}

@media(min-width: 1280px) {
    .vacanciesHero {
        .hero {
            &__container {
                max-width: 100%;
                width: 100%;
                background: url('../img/vacancies/hero-bg-lg.png') no-repeat center / cover;
                flex-direction: column;
            }

            &__title {
                font-size: 55px;
            }
        }
    }

    .vacanciesChars {
        .chars {

            &__container {
                max-width: 1280px;
                padding-left: 50px;
                padding-right: 50px;
            }

            &__expand {
                margin-bottom: 50px;

                &-button {
                    margin-bottom: 50px;
                }
            }
        }
    }

    .vacancy {
        &__mainForm {
            align-items: center;

        }

        &__input {
            &-group {
                &:nth-child(6) {
                    order: 2;
                    flex-basis: 100%;
                }
            }
        }

        &__addFile {
            flex-basis: 49%;
            top: 13px;
        }

        &__button {
            order: 3;
            width: 372px;
        }

        &__policy {
            order: 3;
            width: 372px;
            margin-bottom: 150px;

        }
    }

    .unavalible {
        .getProject {
            &__input {
                width: 100%;

                &-group {
                    flex-basis: 31%;

                    &:nth-child(4) {
                        flex-basis: 66%;
                    }
                }
            }

            &__button {
                display: block;
                // flex-basis: 100%;
                margin-right: 50%;
            }

            &__policy {
                max-width: 304px;
                flex-basis: 100%;
                margin-right: auto;
                margin-left: 32px;
            }
        }

        &__addFile {
            flex-basis: 31%;
            top: 4px;
        }
    }
}

@media(min-width: 1920px) {
    .vacanciesHero {
        .hero {
            &__container {
                padding-top: 100px;
                padding-bottom: 100px;
                background: url('../img/vacancies/hero-bg-xl.png') no-repeat center / cover;

            }

            &__title {
                font-size: 72px;
                width: 1095px;
                margin-bottom: 65px;
            }

            &__description {
                font-size: 16px;
                width: 625px;
            }
        }
    }

    .vacanciesChars {
        .chars {
            &__container {
                max-width: 1920px;
                padding-left: 160px;
                padding-right: 160px;
            }

            &__info {
                &-description {
                    max-width: 996px;
                }

                &-title {
                    margin-bottom: 44px;
                }
            }
        }
    }

    .vacancy {
        &__list {
            font-size: 16px;
        }

        &__button {
            width: 505px;
        }

        &__policy {
            margin-left: 62px;
        }
    }

    .unavalible {
        .getProject {
            &__input-group {
                margin-bottom: 108px;
            }

            &__policy {
                margin-left: 70px;
            }
        }
    }
}
