.vacanciesChars {
    background-color: #f4f4f4;

    .chars {
        &__title {
            margin-bottom: 77px;
            min-width: 279px;
        }

        &__expand {
            &-button {
                display: flex;
                align-items: center;
                // flex-wrap: wrap;
                padding-right: 10px;

                &::after {
                    margin-left: 10px;
                }
            }


        }

        &__info {
            &-description {
                margin-top: 0px;
                margin-bottom: 20px;
                max-width: none;
            }

            &-title {
                margin-bottom: 12px;
            }
        }
    }
}

.vacancy {
    &__info {
        margin-top: 75px;
    }

    &__list {
        padding-left: 18px;
        // line-height: 267.5%;
        font-size: 12px;
        // line-height: 267.5%;
        /* or 32px */

        letter-spacing: 0.035em;

        color: #323232;


        li {
            margin-bottom: 20px;

            &::before {
                content: '';
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background-color: $color-red;
                position: absolute;
                top: 9px;
                left: -18px;
            }
        }
    }

    &__mainForm {
        margin-top: 89px;
    }

    &__input {
        &-group {
            margin-bottom: 36px;
        }
    }

    &__addFile {
        font-size: 16px;
        line-height: 118.49%;
        /* identical to box height, or 19px */
        letter-spacing: 0.035em;
        color: #585858;
        padding-left: 5px;
        display: flex;
        align-items: center;
        padding-bottom: 20px;
        border-bottom: 1px dashed #9D9D9D;
        margin-bottom: 58px;
        width: 100%;

        &::before {
            content: '';
            width: 13px;
            height: 14px;
            margin-right: 14px;
            background: url('../img/vacancies/add-file.svg') no-repeat center / cover;
            display: inline-block;
        }
    }

    &__policy {
        margin-top: 24px;
        margin-bottom: 36px;
    }
}
