/* Main Colors */
$color-base      : #323232;
$color-red       : #FF3D00;
$color-blue      : #0E3DB8;
$color-light: #E3E3E3;
$color-white     : #FFFFFF;

$color-bg              : $color-white;
$color-text            : $color-base;
$color-link            : $color-red;
$color-link-hover      : $color-blue;
$color-error           : $color-red;
$color-popup-background: #fff;

$color-overlay  : $color-base;
$opacity-overlay: .4;

$link-opacity    : .7;

$transition-duration: .2s;
$transition-timing-function: ease-in-out;

$header-z-index: 1000;

/* Fonts */
$font-family         : sans-serif;
$font-family-alt     : 'Cormorant Garamond', serif;
$font-family-fontello: "fontello";
$font-size           : 14px;
$font-size-lg        : 16px;
$font-weight         : normal;
$letter-spacing      : 0.035em;
$line-height         : 140%;
$line-height-lg      : 140%;

/* Screen sizes */
$grid-breakpoints: (xs: 0,
    sm: 320px,
    md: 768px,
    lg: 1280px,
    xl: 1920px);

$container-max-widths: (xs: 100%,
    sm: 100%,
    md: 100%,
    lg: 1170px,
    xl: 1600px);
$container-paddings: (xs: 25px,
    sm: 25px,
    md: 50px,
    lg: 0,
    xl: 0);
$column-gaps: (xs: 12px,
    sm: 12px,
    md: 26px,
    lg: 48px,
    xl: 62px);